{% import '@ecl/generic-component-footer' as macros %}

{% if custom_footer is defined and custom_footer is not empty %}
  {% set _custom_footer = macros.footer_custom(custom_footer, 'ec') %}
{% endif %}

{% set _corporate_footer %}
<div class="ecl-footer__corporate-top">
  <div class="ecl-container">
    <div class="ecl-row">
      {% if corporate_footer.about_ec.items is defined and corporate_footer.about_ec.items is not empty %}
      <div class="ecl-footer__column ecl-col-md">
        <h2 class="ecl-heading ecl-heading--h4 ecl-footer__column-title" id="footer-corporate-about-ec">{{ corporate_footer.about_ec.title }}</h2>
        <ul class="ecl-list ecl-list--unstyled ecl-footer__list" aria-labelledby="footer-corporate-about-ec">
          {% for menu_item in corporate_footer.about_ec.items %}
            <li class="ecl-footer__list-item">
              {% include '@ecl/ec-component-link' with {
                href: menu_item.href,
                label: menu_item.label,
                extra_classes: 'ecl-footer__link',
                variant: 'inverted',
              } %}
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% if corporate_footer.social_media.items is defined and corporate_footer.social_media.items is not empty %}
      <div class="ecl-footer__column ecl-col-md">
        <h2 class="ecl-heading ecl-heading--h4 ecl-footer__column-title" id="footer-corporate-social-media">{{ corporate_footer.social_media.title }}</h2>
        <ul class="ecl-list ecl-list--unstyled ecl-list--inline ecl-footer__list ecl-footer__list--inline  ecl-footer__social-links" aria-labelledby="footer-corporate-social-media">
          {% for menu_item in corporate_footer.social_media.items %}
            <li class="ecl-footer__list-item">
              {% if menu_item.type == 'social-network' %}
                {% embed '@ecl/ec-component-link' with {
                  href: menu_item.link.href,
                  extra_classes: 'ecl-footer__link',
                  variant: 'inverted',
                  icon: menu_item.icon,
                  link_label: menu_item.link.label
                } only %}
                  {% block label %}
                    {% spaceless %}
                      {% include '@ecl/ec-style-icon' with {
                        modifier: 'ecl-icon--' ~ icon ~ ' ecl-footer__social-icon'
                      } only %}<span>{{ link_label }}</span>
                    {% endspaceless %}
                  {% endblock %}
                {% endembed %}
              {% else %}
                {% include '@ecl/ec-component-link' with {
                  href: menu_item.link.href,
                  label: menu_item.link.label,
                  extra_classes: 'ecl-footer__link',
                  variant: ['inverted', 'external'],
                } only %}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% if corporate_footer.about_eu.items is defined and corporate_footer.about_eu.items is not empty %}
      <div class="ecl-footer__column ecl-col-md">
        <h2 class="ecl-heading ecl-heading--h4 ecl-footer__column-title" id="footer-corporate-about-eu">{{ corporate_footer.about_eu.title }}</h2>
        <ul class="ecl-list ecl-list--unstyled ecl-footer__list" aria-labelledby="footer-corporate-about-eu">
          {% for menu_item in corporate_footer.about_eu.items %}
            <li class="ecl-footer__list-item">
              {% include '@ecl/ec-component-link' with {
                href: menu_item.href,
                label: menu_item.label,
                extra_classes: 'ecl-footer__link',
                variant: 'inverted',
              } only %}
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="ecl-footer__corporate-bottom">
  <div class="ecl-container">
    <div class="ecl-row">
      <div class="ecl-col">
        {% if corporate_footer.bottom_links is defined and corporate_footer.bottom_links is not empty %}
        <ul class="ecl-list ecl-list--unstyled ecl-list--inline ecl-footer__list ecl-footer__list--inline">
          {% for menu_item in corporate_footer.bottom_links %}
          <li class="ecl-footer__list-item">
            {% include '@ecl/ec-component-link' with {
              'href': menu_item.href,
              'label': menu_item.label,
              'extra_classes': 'ecl-footer__link',
              'variant': 'inverted',
              }
            %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endset %}

{# Render component #}

{{ macros.footer({
  custom_footer: _custom_footer|default(''),
  corporate_footer: _corporate_footer,
}) }}
