{#
  Accepts:
    - "type" (string): one of "background", "quote" or "video" (default: "background")
    - "src" (string)
    - "title" (object):
      - "href" (string)
      - "label" (string)
    - "description" (string or block): main content (if type == "video" or "background")
    - "video" (object): parameters passed to ecl-files (if type == "video")
    - "quote" (object): parameters passed to ecl-blockquotes (if type == "quote")
    - "extra_classes" (string): extra CSS classes to be added
    - "extra_attributes" (array): extra attributes classes (optional, format: [{ 'name': 'name_of_the_attribute', 'value': 'value_of_the_attribute'}])
#}

{# Internal properties #}

{% set _type = type|default('background') %}
{% set _css_class = 'ecl-banner' %}
{% set _extra_attributes = '' %}

{% if _type is not empty %}
  {% set _css_class = _css_class ~ ' ecl-banner--' ~ _type %}
{% endif %}

{% if extra_classes is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

<div class="{{ _css_class }}"{{ _extra_attributes }}>
  {% if _type == 'background' %}
    <div class="ecl-banner__image" style="background-image: url('{{ src }}')"></div>
    <div class="ecl-banner__body">
      <a class="ecl-banner__title" href="{{ title.href }}">{{ title.label }}</a>
      <p class="ecl-paragraph ecl-banner__description">{% block description description %}</p>
    </div>
  {% elseif _type == 'quote' %}
    {% include '@ec-europa/ecl-blockquotes' with { 'extra_classes': 'ecl-blockquote--small ecl-banner__quote' }|merge(quote) %}
  {% elseif _type == 'video' %}
    <div class="ecl-row">
      <div class="ecl-col-md-6">
        {% include '@ec-europa/ecl-files' with {
          'variant': 'videos',
          'src': '',
          'iframe': true,
          'ratio': '16-9',
          'caption': '',
        }|merge(video|default({})) %}
      </div>
      <div class="ecl-col-md-6">
        {% block description description %}
      </div>
    </div>
  {% endif %}
</div>
