{% apply spaceless %}

{#
Parameters:
  - "toggle_collapsed": (string) (default: '')
  - "toggle_expanded": (string) (default: '')
  - "hide" (object): (default: undefined)
    - "from": (integer) (default: items.length) Item index after which to start hiding timeline items
    - "to": (integer) (default: items.length) Item index after which to resume displaying timeline items
  - "items" (array) (default: []):
    - "id": (string) (default: '')
    - "label": (string) (default: '')
    - "title": (string) (default: '')
    - "content": (block) (default: '')
  - "icon_path" (string) (default: ''): file containing the svg icons
  - "extra_classes" (string) (default: '')
  - "extra_attributes" (array) (default: []): format:
    - "name" (string) (default: '')
    - "value" (optional) (string),
#}

{# Internal properties #}

{% set _css_class = 'ecl-timeline' %}
{% set _extra_attributes = 'data-ecl-auto-init="Timeline" data-ecl-timeline' %}
{% set _items = items|default([]) %}
{% set _icon_path = icon_path|default('') %}
{% set _toggle_collapsed = toggle_collapsed|default('') %}
{% set _toggle_expanded = toggle_expanded|default('') %}
{% set _hide_from = hide.from|default(items|length) %}
{% set _hide_to = hide.to|default(items|length) %}

{# Internal logic - Process properties #}

{% set _display_amount = items|length %}
{% set _hide_amount = 0 %}
{% set _bottom_amount = 0 %}

{% if _hide_from > 0 %}
  {% if _hide_to > 0 %}
    {% set _bottom_amount = _display_amount - _hide_to %}
  {% else %}
    {% set _bottom_amount = _hide_to|abs %}
  {% endif %}
  {% set _countbase = items|length - _bottom_amount %}
  {% set _display_amount = _hide_from %}
  {% set _hide_amount = _countbase - _display_amount %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}
<ol
  class="{{ _css_class }}"
  {{ _extra_attributes|raw }}
>
  {% if _items is not empty %}
    {% for _item in _items %}
      {# Decide on per item if it should display. #}
      {% set extra_class = (loop.index > _display_amount and loop.revindex > _bottom_amount) ? ' ecl-timeline__item--collapsed' : '' %}
      {% set _item_id = _item.id is defined and _item.id is not empty ? _item.id : 'ecl-timeline-item-' ~ random() %}
      <li class="ecl-timeline__item{{ extra_class }}" id="{{ _item_id }}">
        <div class="ecl-timeline__tooltip">
          <div class="ecl-timeline__tooltip-arrow"></div>
          <div class="ecl-timeline__label">{{ _item.label }}</div>
          {% if _item.title is defined and _item.title is not empty %}
          <div class="ecl-timeline__title">{{ _item.title }}</div>
          {% endif %}
          <div class="ecl-timeline__content">{{ _item.content|default('') }}</div>
        </div>
      </li>
      {# Display the show more button if required. #}
      {% if (_hide_amount > 0 and loop.revindex == _bottom_amount + 1) or (_hide_amount > 0 and _hide_to == 0 and loop.revindex == 1) %}
        <li class="ecl-timeline__item ecl-timeline__item--toggle">
          {% include '@ecl/button/button.html.twig' with {
            label: _toggle_collapsed,
            variant: 'secondary',
            type: 'button',
            icon: {
              path: _icon_path,
              name: 'corner-arrow',
              size: 'xs',
              transform: 'rotate-180',
            },
            icon_position: 'after',
            extra_classes: 'ecl-timeline__toggle',
            extra_attributes: [
              {name: 'data-ecl-timeline-button'},
              {name: 'data-ecl-label-collapsed', value: _toggle_collapsed},
              {name: 'data-ecl-label-expanded', value: _toggle_expanded},
            ],
          } only %}
        </li>
      {% endif %}
    {% endfor %}
  {% endif %}
</ol>

{% endapply %}
