{#
  Accepts:
    - "type" (string): type of banner ("hero" or "video", default "hero")
    - "extra_classes" (string): additional classes to add to the component
    - "extra_attributes" (array of { name: "", value: "" })
#}

{# Internal properties #}

{% set _type = type|default('hero') %}
{% set _css_class = 'ecl-banner ecl-banner--' ~ _type %}
{% set _extra_attributes = extra_attributes|default([]) %}
{% set _extra_classes = extra_classes|default('') %}
{% set _system = system|default('generic') %}

{% if _extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ _extra_classes %}
{% endif %}

{% if _extra_attributes is not empty %}
  {% for attr in _extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print result #}

{% if _type == 'hero' %}
  <div class="{{ _css_class }}"{{ _extra_attributes|raw }}>
    <img class="ecl-image ecl-banner__image" src="{{ image }}" role="presentation" />
    <div class="ecl-banner__content">
      <h3 class="ecl-heading ecl-heading--h3 ecl-banner__title">
        {% include '@ecl/' ~ _system ~ '-component-link' with {
          href: link,
          label: title,
          variant: 'standalone'
        } %}
      </h3>
      <p class="ecl-paragraph ecl-banner__description">{{ description }}</p>
    </div>
  </div>
{% elseif _type == 'video' %}
  <div class="{{ _css_class }}"{{ _extra_attributes|raw }}>
    <div class="ecl-row">
      <div class="ecl-col-lg-6">
        <div class="banner__video">
          {% include '@ecl/' ~ _system ~ '-component-file' with {
            variant: 'video',
          }|merge(video|default({})) %}
        </div>
      </div>
      <div class="ecl-col-lg-6">
        {{ description }}
      </div>
    </div>
  </div>
{% endif %}
