{% apply spaceless %}

{#
  Parameters:
    - "title" (string) (default: '')
    - "description" (string) (default: '')
    - "image" (associative array) (default: {}): format: {
      "alt" (string) (default: ''): alternative text for the image
      "src" (string) (default: ''): image url
      "square" (boolean) (default: false): true if the image is squared, otherwise ratio is 3:2
    }
    - "icon" (associative array) (default: {}): predefined structure for Icon component
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (optional) (string)
        ...
      ],
#}

{# Internal properties #}

{% set _title = title|default('') %}
{% set _description = description|default('') %}
{% set _image = image|default({}) %}
{% set _icon = icon|default({}) %}
{% set _css_class = 'ecl-list-illustration__item' %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

<div class="{{ _css_class }}"{{ _extra_attributes|raw }}>
  {% if _image is not empty and _image.src is defined and _image.src is not empty %}
    {% set _image_class = _image.squared ? "ecl-list-illustration__image ecl-list-illustration__image--square" : "ecl-list-illustration__image" %}
    <div class="{{ _image_class }}" aria-label="{{ _image.alt }}" role="img" style="background-image:url('{{ _image.src }}')"></div>
  {% endif %}
  <div class="ecl-list-illustration__detail">
  {% if _title is not empty or _icon is not empty %}
    <div class="ecl-list-illustration__title-container">
    {% if _icon is not empty and _icon.path is defined %}
      {% include '@ecl/icon/icon.html.twig' with {
        icon: _icon|merge({ size: 'xl' }),
        extra_classes: 'ecl-list-illustration__icon',
      } only %}
    {% endif %}
    {% if _title is not empty %}
      <div class="ecl-list-illustration__title">{{ _title }}</div>
    {% endif %}
    </div>
  {% endif %}
  {% if _description is not empty %}
    <div class="ecl-list-illustration__description">{{ _description }}</div>
  {% endif %}
  </div>
</div>

{% endapply %}
