<div>
  <label>{{ label }} (<em>.ecl-button--{{ modifier }}</em>)</label>
  <button class="ecl-button ecl-button--{{ modifier }}">Button</button>
  <button class="ecl-button ecl-button--{{ modifier }} ecl-button--arrow-up">Button</button>
  <button class="ecl-button ecl-button--{{ modifier }} ecl-button--arrow-down">Button</button>
  <button class="ecl-button ecl-button--{{ modifier }} ecl-button--caret-up">Button</button>
  <button class="ecl-button ecl-button--{{ modifier }} ecl-button--caret-right">Button</button>
  <button class="ecl-button ecl-button--{{ modifier }} ecl-button--caret-down">Button</button>
  <button class="ecl-button ecl-button--{{ modifier }} ecl-button--caret-left">Button</button>
</div>
<br />
