{#
  Accepts:
    - "id" (string): radio group ID (mandatory)
    - "name" (string): radio name (mandatory)
    - "desc" (string): description for screen readers (mandatory)
    - "radios" (collection): array of ecl-forms-radios
    - "extra_class" (string): extra CSS classes (optional, default: '')
#}

{% set id = name|default('ecl-radio-1') %}
{% set name = name|default('ecl-radio') %}
{% set desc = desc|default('Description') %}

{# Internal properties #}

{% set _css_class = 'ecl-radio-group' %}

{% if extra_class is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_class %}
{% endif %}

<div class="{{ _css_class }}" role="radiogroup" aria-labelledby="{{ id }}_label" id="{{ id }}">
  <p id="{{ id }}_label" class="ecl-u-sr-only">{{ desc }}</p>
  {% for radio in radios %}
    {% set options = { 'name': name }|merge(radio) %}
    {% include '@ec-europa/ecl-forms-radios' with options %}
  {% endfor %}
</div>
