{% spaceless %}

{#
  Parameters:
  - "overlay" (boolean) (default:false)
  - "data_lang_overlay" (string) (default: '')
  - "eu_category" (string) (default: '');
  - "non_eu_category" (string) (default: '')
  - "close_label (string) (default: ''): label of close button
  - "title" (string) (default: ''): title of the page
  - "items" (array) (default: [])
    - "lang" (string) (default: '')
    - "label" (string) (default: '')
    - "path" (string) (default: '')
    - "active (boolean) (default: false)
  - non_eu_items (array) (default: [])
    - "lang" (string) (default: '')
    - "label" (string) (default: '')
    - "path" (string) (default: '')
    - "active (boolean) (default: false)
  - "icon_path" (string) (default: ''): file containing the svg icons
  - "logo" (object) (default: {}): EC logo
    - "alt" (string) (default: ''): alt text for the logo
    - "path" (string) (default: ''): path to the logo svg
  - "extra_classes" (optional) (string) (default: '')
  - "extra_attributes" (optional) (array) (default: []) [{
    - "name" (string) Attribute name, eg. 'data-test'
    - "value" (string) Attribute value, eg: 'data-test-1'
    },
    ...
    ],
  - "_compliance_": (boolean) (default: false) Activates debug
  - "_compliance_inner_check_": (boolean) (default: false) Inline compliance report
#}

{# Internal properties #}

{% set _items = items|default([]) %}
{% set _non_eu_items = non_eu_items|default([]) %}
{% set _icon_path = icon_path|default('') %}
{% set _logo = logo|default({}) %}
{% set _overlay = overlay|default(false) %}
{% set _close_label = close_label|default('') %}
{% set _eu_category = eu_category|default('') %}
{% set _non_eu_category = non_eu_category|default('') %}
{% set _title = title|default('') %}
{% set _extra_attributes = '' %}
{% set _compliance = _compliance_|default(false) %}
{% set _data_lang_overlay = data_lang_overlay|default('') %}
{% set _compliance_inner_check = _compliance_inner_check_|default(false) %}

{% if _overlay %}
  {% set _css_class = 'ecl-language-list ecl-language-list--overlay' %}
  {% set _extra_attributes = 'data-ecl-language-list-overlay aria-labelledby="ecl-language-list__title" role="dialog"' %}
{% else %}
  {% set _css_class = 'ecl-language-list ecl-language-list--splash' %}
{% endif %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value|e ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

<div class="{{ _css_class }}" {{ _extra_attributes|raw }} {{ _data_lang_overlay }}>
{% if _overlay %}
  <div class="ecl-language-list__container ecl-container">
    <div class="ecl-row">
      <div class="ecl-language-list__close ecl-col-12 ecl-col-lg-8 ecl-offset-lg-2">
        {% include '@ecl-twig/ec-component-button/ecl-button.html.twig' with {
          label: _close_label,
          variant: "ghost",
          icon: {
            path: _icon_path,
            type: "ui",
            name: "close",
            size: "s"
          },
          icon_position: "after",
          extra_classes: 'ecl-language-list__close-button',
          extra_attributes: [{ name: 'data-ecl-language-list-close' }],
          _compliance_: _compliance,
          _compliance_inner_check_: true
        } only %}
      </div>
      <div
        class="ecl-language-list__title ecl-col-12 ecl-col-lg-8 ecl-offset-lg-2"
        id="ecl-language-list__title"
      >
        {{- _title -}}
      </div>
    </div>
{% else %}
  <header class="ecl-language-list__header">
  {% if (_logo.path is defined and _logo.path is not empty) and
      (_logo.alt is defined and _logo.alt is not empty) %}
    <img class="ecl-language-list__logo" src="{{ _logo.path }}" alt="{{ _logo.alt }}" />
  {% endif %}
  </header>
  <div class="ecl-language-list__container ecl-container">
{% endif %}
  {% if _items is not empty and _items is iterable %}
    {% include '@ecl-twig/ec-component-language-list/ecl-language-list-grid.html.twig' with {
        items: _items,
        overlay: _overlay,
        icon_path: _icon_path,
        category: eu_category,
        section: 'eu',
        _compliance_: _compliance
    } only %}
  {% endif %}
  {% if _non_eu_items is not empty and _non_eu_items is iterable %}
    {% include '@ecl-twig/ec-component-language-list/ecl-language-list-grid.html.twig' with {
        items: _non_eu_items,
        overlay: _overlay,
        icon_path: _icon_path,
        category: non_eu_category,
        section: 'non-eu',
        _compliance_: _compliance
    } only %}
  {% endif %}
  </div>
</div>

{# Validation #}

{% if _compliance %}
  {% include '@ecl-twig/ec-component-ecl-compliance/components/ecl-compliance-language-list.html.twig' with {
    overlay: _overlay,
    close_label: _close_label,
    eu_category: _eu_category,
    non_eu_category: _non_eu_category,
    non_eu_items: _non_eu_items,
    title: _title,
    items: _items,
    icon_path: _icon_path,
    logo: _logo,
    _compliance_inner_check_: _compliance_inner_check
  } only %}
{% endif %}
{% endspaceless %}
