{% spaceless %}

{#
  Parameters:
    - "links" (array) (default: []): format: [
      {
        "label" (string) (default: '') Label of link
        "path" (string) (default: '') Url of link
      },
      ...
    ],
    - "navigation_text" (string) (default: ''): Text of navigation in breadcrumb
    - "ellipsis_label" (string) (default: ''): Label of the ellipsis, e.g. "Click to expand"
    - "icon_file_path" (string) (default: ''): URL to icons file
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (optional) (string)
        ...
      ],
    - "_compliance_" (boolean) (default: false) - Activates debug
    - "_compliance_inner_check_" (boolean) (default: false) - Inline compliance report
#}

{# Internal properties #}

{% set _breadcrumb_size = links|length %}
{% set _links = links|default([]) %}
{% set _icon_file_path = icon_file_path|default('') %}
{% set _navigation_text = navigation_text|default('') %}
{% set _ellipsis_label = ellipsis_label|default('') %}
{% set _breadcrumb_segment_class = 'ecl-breadcrumb__segment' %}
{% set _compliance = _compliance_|default(false) %}
{% set _compliance_inner_check = _compliance_inner_check_|default(false) %}

{% set _default_icon_structure = {
  icon: {
    type: 'ui',
    name: 'corner-arrow',
    size: 'xs',
    transform: 'rotate-90',
    path: icon_file_path|default(''),
  },
  extra_classes: 'ecl-breadcrumb__icon',
  extra_attributes: [{ name: 'role', value: 'presentation' }]
} %}

{% if _compliance %}
  {% set _default_icon_structure = _default_icon_structure|merge({
    _compliance_: true,
    _compliance_inner_check_: true
  }) %}
{% endif %}

{% set _css_class = 'ecl-breadcrumb' %}
{% set _extra_attributes = [
  'aria-label="' ~ _navigation_text ~ '"',
  'data-ecl-breadcrumb="true"',
  'data-ecl-auto-init="Breadcrumb"']|join(' ')
%}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value|e ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

<nav class="{{ _css_class }}" {{ _extra_attributes|raw }}>
  <ol class="ecl-breadcrumb__container">
  {% if _links is not empty %}
    {% for key, link in links %}
      {% set _breadcrumb_segment_attributes = 'data-ecl-breadcrumb-item="static" aria-hidden="false"' %}
      {% if loop.last %}
        {% set _breadcrumb_segment_attributes = _breadcrumb_segment_attributes ~ ' aria-current="page"' %}
        <li class="{{ _breadcrumb_segment_class ~ ' ecl-breadcrumb__current-page' }}" {{ _breadcrumb_segment_attributes|raw }}>
          {{- link.label -}}
        </li>
      {% else %}
        {% if _breadcrumb_size > 3 and (key > 0 and key < _breadcrumb_size - 2) %}
          {% if key == 1 %}
            <li class="{{ _breadcrumb_segment_class ~ ' ecl-breadcrumb__segment--ellipsis' }}" aria-hidden="false" data-ecl-breadcrumb-ellipsis="true">
              <button type="button" class="ecl-breadcrumb__ellipsis" aria-label="{{ _ellipsis_label }}" data-ecl-breadcrumb-ellipsis-button="true">…</button>
              {% include '@ecl-twig/ec-component-icon/ecl-icon.html.twig' with _default_icon_structure only %}
            </li>
          {% endif %}
          {% set _breadcrumb_segment_attributes = 'data-ecl-breadcrumb-item="expandable" aria-hidden="true"' %}
        {% endif %}
        <li class="{{ _breadcrumb_segment_class }}" {{ _breadcrumb_segment_attributes|raw }}>
          {% include '@ecl-twig/ec-component-link/ecl-link.html.twig' with {
            link: {
              type: 'standalone',
              label: link.label,
              path: link.path
            },
            extra_classes: 'ecl-breadcrumb__link',
            _compliance_: _compliance,
            _compliance_inner_check_: true,
            icon_path: _icon_file_path
          } only %}
          {% include '@ecl-twig/ec-component-icon/ecl-icon.html.twig' with _default_icon_structure only %}
        </li>
      {% endif %}
    {% endfor %}
  {% endif %}
  </ol>
</nav>

{# Validation #}

{% if _compliance %}
  {% include '@ecl-twig/ec-component-ecl-compliance/components/ecl-compliance-breadcrumb.html.twig' with {
    links: _links,
    navigation_text: _navigation_text,
    ellipsis_label: _ellipsis_label,
    icon_file_path: icon_file_path,
    _compliance_inner_check_: _compliance_inner_check
  } only %}
{% endif %}

{% endspaceless %}
