<!DOCTYPE html>
{% set bodyClass = 'ecl-typography' %}
{% if _target.context is defined and _target.context.global is defined %}
  {% set global = _target.context.global %}
  {% if global.svg is defined %}
    {% set bodyClass = bodyClass ~ ' no-svg' %}
  {% endif %}
  {% if global.language is defined %}
    {% set bodyClass = bodyClass ~ ' language-' ~ global.language %}
  {% endif %}
{% endif %}
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Preview Layout</title>
  <script>document.documentElement.classList.remove('no-js');</script>
  <link media="all" rel="stylesheet" href="{{ '/eu-preset-website/styles/ecl-eu-preset-website.css' | path }}">
</head>
<body class="{{ bodyClass }}">
  {% include '@ecl/eu-component-skip-link' with {
      'href': '#main-content',
      'label': 'Skip to main content'
  } %}
  {% include '@ecl/eu-component-site-header' %}
  {% include '@ecl/eu-component-page-header' with {
    variant: 'basic',
    identity: 'Search',
    breadcrumb: [
      { href: 'https://ec.europa.eu/commission/index_en', label: 'Home' },
      { label: 'Search' },
    ]
  } %}
  <main id="main-content">
    {{ yield }}
  </main>

  {% include '@ecl/eu-component-footer' with {
    custom_footer: {
      identity: 'Site identification',
      social_links: {
        label: 'Follow us:',
        links: [
          {
            type: 'social-network',
            icon: 'facebook',
            link: {
              href: '../../example.html#facebook',
              label: 'Facebook',
            },
          },
          {
            type: 'social-network',
            icon: 'twitter',
            link: {
              href: '../../example.html#twitter',
              label: 'Twitter',
            },
          },
        ],
      },
      other_links: {
        links: [
          {
            link: {
              href: '../../example.html#contact',
              label: 'Contact',
            },
          },
          {
            link: {
              href: '../../example.html#sitemap',
              label: 'Site map',
            },
          },
          {
            link: {
              href: '../../example.html#loremipsum1',
              label: 'Lorem ipsum',
            },
          },
          {
            link: {
              href: '../../example.html#loremipsum2',
              label: 'Lorem ipsum',
            },
          },
          {
            link: {
              href: '../../example.html#loremipsum3',
              label: 'Lorem ipsum',
            },
          },
        ],
      },
    },
    corporate_footer: {
      contact_eu: {
        title: 'Contact the EU',
        items: [
          {
            html:
              'Call us <a href="../../example.html#call" class="ecl-link ecl-link--standalone">00 800 6 7 8 9 10 11</a> or use other <a href="../../example.html#call" class="ecl-link ecl-link--standalone">telephone options</a>',
          },
          {
            html:
              'E-mail us via our <a href="../../example.html#call" class="ecl-link ecl-link--standalone">contact form</a>',
          },
          {
            html:
              'Visit our <a href="../../example.html#call" class="ecl-link ecl-link--standalone">contact points</a> in your country',
          },
        ],
      },
      social_media: {
        title: 'Find an EU social media account',
        items: [
          {
            html:
              'Search for <a href="../../example.html#call" class="ecl-link ecl-link--standalone">EU social media channels</a>',
          },
        ],
      },
      find_institution: {
        title: 'Find a European institution',
        items: [
          {
            href: '../../example.html#',
            label: 'European Parliament',
          },
          {
            href: '../../example.html#',
            label: 'European Council',
          },

          {
            href: '../../example.html#',
            label: 'Council of the European Union',
          },
          {
            href: '../../example.html#',
            label: 'European Commission',
          },
          {
            href: '../../example.html#',
            label: 'Court of Justice of the European Union',
          },
          {
            href: '../../example.html#',
            label: 'European Central Bank',
          },
          {
            href: '../../example.html#',
            label: 'European Court of Auditors',
          },
          {
            href: '../../example.html#',
            label: 'European External Action Service',
          },
          {
            href: '../../example.html#',
            label: 'European Economic and Social Committee',
          },
          {
            href: '../../example.html#',
            label: 'European Committee of the Regions',
          },
          {
            href: '../../example.html#',
            label: 'European Investment Bank',
          },
          {
            href: '../../example.html#',
            label: 'European Ombudsman',
          },
          {
            href: '../../example.html#',
            label: 'European Data Protection Supervisor',
          },
          {
            href: '../../example.html#',
            label: 'European Personnel Selection Office',
          },
          {
            href: '../../example.html#',
            label: 'Publications Office of the European Union',
          },
          {
            href: '../../example.html#',
            label: 'Agencies',
          },
        ],
      },
      bottom_links: [
        {
          href: '../../example.html#',
          label: 'Language policy',
        },
        {
          href: '../../example.html#',
          label: 'Privacy policy',
        },
        {
          href: '../../example.html#',
          label: 'Legal notice',
        },
        {
          href: '../../example.html#',
          label: 'Cookies',
        },
        {
          href: '../../example.html#',
          label: 'Web accessibility',
        },
      ],
      published_date: 'Last published 26/06/2018'
    }
  } %}

  <script src="{{ '/eu-preset-website/scripts/ecl-eu-preset-website.js' | path }}"></script>
  {% if _target.context._demo and _target.context._demo.scripts %}
  <script type="text/javascript">{{ _target.context._demo.scripts | raw }}</script>
  {% endif %}
</body>
</html>
