<!DOCTYPE html>
{% set bodyClass = 'ecl-typography' %}
{% if _target.context is defined and _target.context.global is defined %}
  {% set global = _target.context.global %}
  {% if global.svg is defined %}
    {% set bodyClass = bodyClass ~ ' no-svg' %}
  {% endif %}
  {% if global.language is defined %}
    {% set bodyClass = bodyClass ~ ' language-' ~ global.language %}
  {% endif %}
{% endif %}
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Preview Layout</title>
  <script>document.documentElement.classList.remove('no-js');</script>
  <link media="all" rel="stylesheet" href="{{ '/eu-preset-full/styles/europa.css' | path }}">
</head>
<body class="{{ bodyClass }}">
  {{ yield }}
  <script src="{{ '/eu-preset-full/scripts/europa.js' | path }}"></script>
  {% if _target.context._demo and _target.context._demo.scripts %}
  <script type="text/javascript">{{ _target.context._demo.scripts | raw }}</script>
  {% endif %}
</body>
</html>
