<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="{{ '/styles/europa.css' | path }}">
  <title>Preview Layout</title>
  <style>
    /* website specific global rules */
    body {
      margin: 0;
    }
  </style>
  <script>document.documentElement.classList.remove('no-js');</script>
</head>
<body{% if _target.context and _target.context.global and _target.context.global.language %} class="language-{{ _target.context.global.language }}"{% endif %}>
  {% include '@ecl/eu-skip-link' with {
      'href': '#main-content',
      'label': 'Skip to main content'
  } %}
  {% include '@ecl/eu-site-header' with {
    site_switcher: {
      variant: 'header',
      political: { href: '#', label: 'Commission and its priorities' },
      info: { href: '#', label: 'Policies, information and services', is_active: true }
    }
  } %}
  {% include '@ecl/eu-page-header' with {
    variant: 'default',
    identity: 'Search',
    breadcrumb: [
      { href: 'http://europa.eu/index_en.htm', label: 'European Commission' },
      { href: '#', label: 'Search' },
    ]
  } %}
  <main>
    <a id="main-content" tabindex="-1"></a>
    {{ yield }}
  </main>

  {% include '@ecl/eu-footer' with {
    footer_menus: [
      {
        type: 'normal',
        wrapper_class: 'ecl-footer__site-corporate',
        menus: [
          {
            title: {
              value: 'European Commission',
              classes: 'ecl-h4 ecl-footer__title',
            },
            classes: 'ecl-footer__menu',
            items: [
              {
                classes: 'ecl-footer__menu-item',
                link: {
                  href: 'https://ec.europa.eu/commission/index_en',
                  label: 'Commission and its priorities',
                },
              },
              {
                classes: 'ecl-footer__menu-item',
                link: {
                  href: 'https://ec.europa.eu/info/index_en',
                  label: 'Policies information and services',
                },
              },
            ],
          },
          {
            title: {
              value: 'Follow the European Commission',
              classes: 'ecl-h4 ecl-footer__title',
            },
            classes:
              'ecl-footer__menu ecl-list--inline ecl-footer__social-links',
            items: [
              {
                classes: 'ecl-footer__menu-item',
                link: {
                  href: '#',
                  label: 'Facebook',
                  label_wrapper_class:
                    'ecl-icon ecl-icon--facebook ecl-footer__social-icon',
                },
              },
              {
                classes: 'ecl-footer__menu-item',
                link: {
                  href: '#',
                  label: 'Twitter',
                  label_wrapper_class:
                    'ecl-icon ecl-icon--twitter ecl-footer__social-icon',
                },
              },
              {
                classes: 'ecl-footer__menu-item',
                link: {
                  href: '#',
                  label: 'Other social media',
                  variant: 'external',
                },
              },
            ],
          },
          {
            title: {
              value: 'European Union',
              classes: 'ecl-h4 ecl-footer__title',
            },
            classes: 'ecl-footer__menu',
            items: [
              {
                classes: 'ecl-footer__menu-item',
                link: {
                  href: '#',
                  label: 'EU institutions',
                  variant: 'external',
                },
              },
              {
                classes: 'ecl-footer__menu-item',
                link: {
                  href: '#',
                  label: 'European Union',
                  variant: 'external',
                },
              },
            ],
          },
        ],
      },
      {
        type: 'plain',
        wrapper_class: 'ecl-footer__ec',
        menus: [
          {
            classes: 'ecl-list--inline ecl-footer__menu',
            items: [
              {
                classes: 'ecl-footer__menu-item',
                link: {
                  href:
                    'http://ec.europa.eu/info/about-commissions-new-web-presence_en',
                  label: "About the Commission's new web presence",
                },
              },
              {
                classes: 'ecl-footer__menu-item',
                link: {
                  href: 'http://ec.europa.eu/info/resources-partners_en',
                  label: 'Resources for partners',
                },
              },
              {
                classes: 'ecl-footer__menu-item',
                link: {
                  href: 'http://ec.europa.eu/info/cookies_en',
                  label: 'Cookies',
                },
              },
              {
                classes: 'ecl-footer__menu-item',
                link: {
                  href: 'http://ec.europa.eu/info/legal-notice_en',
                  label: 'Legal notice',
                },
              },
              {
                classes: 'ecl-footer__menu-item',
                link: {
                  href: 'http://ec.europa.eu/info/contact_en',
                  label: 'Contact',
                },
              },
            ],
          },
        ],
      },
    ],
  } %}

  <script src="{{ '/scripts/europa.js' | path }}"></script>
  {% if _target.context._demo and _target.context._demo.scripts %}
  <script type="text/javascript">{{ _target.context._demo.scripts | raw }}</script>
  {% endif %}
</body>
</html>
