<!DOCTYPE html>
{% set bodyClass = 'ecl-typography' %}
{% if _target.context is defined and _target.context.global is defined %}
  {% set global = _target.context.global %}
  {% if global.svg is defined %}
    {% set bodyClass = bodyClass ~ ' no-svg' %}
  {% endif %}
  {% if global.language is defined %}
    {% set bodyClass = bodyClass ~ ' language-' ~ global.language %}
  {% endif %}
{% endif %}
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="{{ '/eu-preset-website/styles/ecl-eu-preset-website.css' | path }}">
    <style>
      body {
        background-image:url({{ '/assets/alpha.jpg' | path }});
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body class="{{ bodyClass }}">
    <main>
      {{ yield }}
    </main>
    <script src="{{ '/eu-preset-website/scripts/ecl-eu-preset-website.js' | path }}"></script>
    {% if _target.context._demo and _target.context._demo.scripts %}
    <script type="text/javascript">{{ _target.context._demo.scripts | raw }}</script>
    {% endif %}
  </body>
</html>
