{% apply spaceless %}

{#
  Parameters:
  - "overlay" (object) (default: {})
    - "close" (object) (default: {}): object of type button
    - "previous (object) (default: {}): object of type button
    - "next" (object) (default: {}): object of type button
    - "counter_separator" (string) (default: '')
    - "full_screen_label" (string) (default: '')
    - "share" (object) (default: {}): object of type link
    - "sr_overlay_label" (string) (default: '') aria-label for the overlay
  - "item" (object) (default: {}): object of type gallery-item
  - "extra_classes" (optional) (string) (default: '')
  - "extra_attributes" (optional) (array) (default: [])
    - "name" (string) Attribute name, eg. 'data-test'
    - "value" (string) Attribute value, eg: 'data-test-1'
#}

{# variables #}

{% set _css_class = 'ecl-gallery__overlay' %}
{% set _css_media_class = 'ecl-gallery__slider-media-container' %}
{% set _extra_attributes = '' %}
{% set _button_type = 'button' %}
{% set _button_variant = 'ghost' %}
{% set _overlay = overlay|default({}) %}
{% set _item = item|default({}) %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

<dialog
  class="{{ _css_class }}"
  {{ _extra_attributes|raw }}
  data-ecl-gallery-overlay
{% if _overlay.sr_overlay_label is defined and _overlay.sr_overlay_label is not empty %}
  aria-label="{{ _overlay.sr_overlay_label }}"
{% endif %}
>
  <header class="ecl-gallery__close" data-ecl-gallery-overlay-header>
    {% include '@ecl/button/button.html.twig' with _overlay.close|merge({
      extra_classes: 'ecl-gallery__close-button',
      variant: _button_variant,
      type: 'submit',
      extra_attributes: [
        { name: 'data-ecl-gallery-close' },
      ],
    }) only %}
  </header>

  <section class="ecl-gallery__slider">
    <div class="{{ _css_media_class }}" data-ecl-gallery-overlay-media></div>
  </section>

  <footer class="ecl-gallery__detail" data-ecl-gallery-overlay-footer>
    <div class="ecl-container">
      <div class="ecl-gallery__detail-container">
        <div class="ecl-gallery__pager">
        {% if _overlay.counter_separator is defined and _overlay.counter_separator is not empty %}
          <div class="ecl-gallery__detail-counter">
            <span data-ecl-gallery-overlay-counter-current>0</span>{{- ' ' -}}
              {{- _overlay.counter_separator }}{{- ' ' -}}
            <span data-ecl-gallery-overlay-counter-max>0</span>
          </div>
        {% endif %}
        {% if _overlay.previous is not empty or _overlay.next is not empty %}
          <div class="ecl-gallery__controls">
          {% if _overlay.previous is defined and _overlay.previous is not empty %}
            {% include '@ecl/button/button.html.twig' with _overlay.previous|merge({
              extra_classes: 'ecl-gallery__slider-previous',
              type: _button_type,
              variant: 'tertiary',
              icon_position: 'before',
              hide_label: true,
              icon: _overlay.previous.icon|merge({
                size: 'm',
                transform: 'rotate-270',
                name: 'corner-arrow',
              }),
              extra_attributes: [
                { name: 'data-ecl-gallery-overlay-previous' },
              ],
            }) only %}
          {% endif %}
          {% if (_overlay.next is defined and _overlay.next is not empty) and
            (_overlay.next.icon is defined and _overlay.next.icon is not empty) %}
            {% include '@ecl/button/button.html.twig' with _overlay.next|merge({
              extra_classes: 'ecl-gallery__slider-next',
              type: _button_type,
              variant: 'tertiary',
              hide_label: true,
              icon: _overlay.next.icon|merge({
                size: 'm',
                transform: 'rotate-90',
                name: 'corner-arrow',
              }),
              extra_attributes: [
                { name: 'data-ecl-gallery-overlay-next' },
              ],
            }) only %}
          {% endif %}
          </div>
        {% endif %}
        </div>
        <div class="ecl-gallery__detail-actions">
        {% if _overlay.full_screen_label is not empty %}
          {% include '@ecl/link/link.html.twig' with {
            link: {
              icon_position: 'after',
              type: 'standalone',
              inverted: true,
              label: _overlay.full_screen_label ?: _overlay.download.link.label|default(''),
            },
            icon: {
              name: 'fullscreen',
              size: 'fluid',
              path: icon_path|default('')
            },
            extra_classes: 'ecl-gallery__download',
            extra_attributes: [
              { name: 'target', value: '_blank' },
              { name: 'data-ecl-gallery-overlay-download' },
            ],
          } only %}
        {% endif %}
        {% if (_overlay.share is defined and _overlay.share is not empty) and
          (_overlay.share.link is defined and _overlay.share.link is not empty) %}
          {% include '@ecl/link/link.html.twig' with _overlay.share|merge({
            link: _overlay.share.link|merge({
              icon_position: 'after',
              type: 'standalone',
              inverted: true,
            }),
            icon: _overlay.share.icon|merge({
              name: 'share',
              size: 'fluid',
            }),
            extra_classes: 'ecl-gallery__share',
            extra_attributes: [
              { name: 'data-ecl-gallery-overlay-share' },
            ],
          }) only %}
        {% endif %}
        </div>
      </div>
    {% if _item.description is defined and _item.description is not empty %}
      <div
        class="ecl-gallery__detail-description"
        data-ecl-gallery-overlay-description
      >
        {{- _item.description -}}
      </div>
    {% endif %}
    </div>
  </footer>
</dialog>

{% endapply %}
