{% apply spaceless %}

{#
  Parameters:
  - "id" (string) Unique id for this item. Needed for accessibility. Generated automatically
  - "item" (object) (default: {})
    - "title" (string) (default: '')
    - "description" (string) (default: '')
    - "meta" (string) (default: '')
    - "icon" (object) (default: {}): object of type icon
    - "thumbnail" (optional) (object) (default: {}) Picture to the thumbnail, type Picture; uses "picture" if empty
    - "picture" (optional) (object) (default: {}) Object of type Picture; always needed, even for video
    - "video" (optional) (object) (default: {})
    - "embedded_video" (optional) (object) (default: {})
    - "sr_video_audio" (string) (default: ''): additional text to indicate if there is an audio description; for screen readers
    - "share_path" (optional) (string) (default: '')
  - "icon_path": (string) (default '')
  - "sr_video_label" (string) (default: ''): additional label for the video items; for screen readers
  - "sr_video_player" (string) (default: ''): additional label for the video player; for screen readers
  - "picture_zoom" (bool) (default: false): Should the thumbnail pictures be animated?
  - "extra_classes" (optional) (string) (default: '')
  - "extra_attributes" (optional) (array) (default: [])
    - "name" (string) Attribute name, eg. 'data-test'
    - "value" (string) Attribute value, eg: 'data-test-1'
#}

{# variables #}

{% set _id = id|default('') %}
{% set _css_class = 'ecl-gallery__item' %}
{% set _extra_attributes = '' %}
{% set _use_arial = '' %}
{% set _media_href = '' %}
{% set _media_share_path = '' %}
{% set _media_iframe_href = '' %}
{% set _item = item|default({}) %}
{% set _picture = item.picture|default({}) %}
{% set _thumbnail = item.thumbnail|default({}) %}
{% set _icon_path = icon_path|default('') %}
{% set _sr_video_label = sr_video_label|default('') %}
{% set _sr_video_player = sr_video_player|default('') %}
{% set _picture_zoom = picture_zoom|default(false) %}

{# Internal logic - Process properties #}

{% if _thumbnail is empty and _picture is not empty %}
  {% set _thumbnail = _picture %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{# Setting up Video and image variables #}
{% set _video_title = '' %}
{% if _item and _item is not empty %}
  {% set _media_share_path = _item.share_path %}

  {% if _item.video is not empty or _item.embedded_video is not empty %}
    {% if _item.title is not empty %}
      {% set _video_title = _item.title %}
    {% endif %}
    {% if _sr_video_player is not empty %}
      {% set _video_title = _video_title is not empty ? _video_title ~ ' - ' ~ _sr_video_player : _sr_video_player %}
    {% endif %}
  {% endif %}

  {% if _item.video is defined and _item.video is not empty %}
    {% set _media_href = _item.video.sources[0].src %}
  {% endif %}

  {% if _item.embedded_video is defined and _item.embedded_video is not empty %}
    {% set _media_href = _item.embedded_video.src %}
  {% endif %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

<li
  class="{{ _css_class }}"
  {{ _extra_attributes|raw }}
>
  <a
    href="{{ _media_href ?: _picture.img.src }}"
    data-ecl-gallery-item
    class="ecl-gallery__item-link"
    id="{{ _id }}"
  {%- if _media_share_path is not empty -%}
    data-ecl-gallery-item-share="{{ _media_share_path }}"
  {%- endif -%}
  {%- if _media_href is not empty and _item.embedded_video is not empty -%}
    data-ecl-gallery-item-embed-src="{{ _media_href }}"
  {%- endif -%}
  {%- if _item.sr_video_audio is not empty -%}
    data-ecl-gallery-item-embed-audio="{{ _item.sr_video_audio }}"
  {%- endif -%}
  {% if _video_title is not empty %}
    data-ecl-gallery-item-video-title="{{ _video_title }}"
  {% endif %}
  >
  {% if _item is not empty %}
    {% set _image_alt = _thumbnail.img.alt|default('') %}
    <figure class="ecl-gallery__image-container">

    {% if _item.video is not empty or _item.embedded_video is not empty %}
      {# Display video icon #}
      {% if _sr_video_label is not empty %}
        {% set _image_alt = _image_alt ~ ' - ' ~ _sr_video_label %}
      {% endif %}

      {% if _icon_path is not empty %}
        <div class="ecl-gallery__item-icon-wrapper">
        {%- include '@ecl/icon/icon.html.twig' with {
          icon: {
            name: 'play-filled',
            size: 'l',
            path: _icon_path,
            color: 'inverted',
          },
          extra_classes: 'ecl-gallery__item-icon',
        } only %}
        </div>
      {% endif %}
    {% endif %}

    {% set _thumbnail_markup %}
      {% include '@ecl/picture/picture.html.twig' with {
        picture: _thumbnail|merge({
          img: _thumbnail.img|default({})|merge({
            alt: _image_alt,
          })
        }),
        zoom: _picture_zoom,
        extra_classes: "ecl-gallery__thumbnail",
        extra_image_classes: "ecl-gallery__image",
      } only %}
    {% endset %} 

    {% if _item.embedded_video is not empty %}
      {# Embedded video #}
      {{- _thumbnail_markup -}}
    {% elseif _item.video is defined and _item.video is not empty %}
      {% set video_classes = 'ecl-gallery__image' ~ (_item.video.extra_classes ? ' ' ~ _item.video.extra_classes : '') %}
      {% include '@ecl/video/video.html.twig' with _item.video|merge({
        title: _item.title,
        sr_video_label: _sr_video_label,
        sr_video_player: _sr_video_player,
        zoom: _picture_zoom,
        controls: false,
        extra_classes: video_classes,     
      }) only %}
    {% else %}
      {# Image #}
      {{- _thumbnail_markup -}}
      {% include '@ecl/picture/picture.html.twig' with {
        picture: _picture,
        lazy: true,
        extra_classes: "ecl-gallery__picture",
        extra_image_classes: "ecl-gallery__image",
      } only %}
    {% endif %}
      <figcaption
        class="ecl-gallery__description"
        data-ecl-gallery-description
      >
      {%- if _item.title is defined and _item.title is not empty -%}
        <span class="ecl-gallery__title" id="{{ _id }}-title" data-ecl-gallery-title>
          {{- _item.title -}}
        </span>
      {%- endif -%}
      {%- if _item.description is defined and _item.description is not empty -%}
        <span class="ecl-gallery__caption">
          {{- _item.description -}}
        </span>
      {%- endif -%}
      {%- if _item.meta is defined and _item.meta is not empty -%}
        <span class="ecl-gallery__meta">
          {{- _item.meta -}}
        </span>
      {%- endif -%}
      </figcaption>
    </figure>
  {% endif %}
  </a>
</li>

{% endapply %}
