{% spaceless %}

{#
  Parameters:
  - "item" (object) (default: {})
    - "path" (string) (default: '')
    - "alt" (string) (default: '')
    - "meta" (string) (default: '')
    - "icon" (object) (default: {}): object of type icon
    - "image" (optional) (object) (default: {})
    - "video" (optional) (object) (default: {})
    - "embedded_video" (optional) (object) (default: {})
    - "share_path" (optional) (string) (default: '')
  - "extra_classes" (optional) (string) (default: '')
  - "extra_attributes" (optional) (array) (default: [])
    - "name" (string) Attribute name, eg. 'data-test'
    - "value" (string) Attribute value, eg: 'data-test-1'
#}

{# variables #}

{% set _css_class = 'ecl-gallery__item' %}
{% set _extra_attributes = '' %}
{% set _use_arial = '' %}
{% set _media_href = '' %}
{% set _media_share_path = '' %}
{% set _media_iframe_href = '' %}
{% set _image_alt = '' %}
{% set _item = item|default({}) %}

{% set _has_icon = (_item.icon is defined and _item.icon is not empty) and
  (_item.icon.name is defined and _item.icon.name is not empty) %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{# Setting up Video and image variables #}
{% if _item and _item is not empty %}
  {% set _media_share_path = _item.share_path %}

  {% if _item.video is defined and _item.video is not empty %}
    {% set _media_href = _item.video.sources[0].src %}
  {% else %}
    {% if _item.image is defined and _item.image is not empty %}
      {% set _media_href = _item.image.src %}
      {% set _image_alt = _item.image.alt %}
    {% else %}
      {% set _media_href = _item.path %}
      {% set _image_alt = _item.alt %}
    {% endif %}
    {# Use Arial only for image. #}
    {% set _use_arial = 'aria-label="' ~ _image_alt ~ '"' %}
  {% endif %}
  {% if _item.embedded_video is defined and _item.embedded_video is not empty %}
    {% set _media_iframe_href = _item.embedded_video.src %}
  {% endif %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

<li class="{{ _css_class }}"{{ _extra_attributes }}>
  <a
    href="{{ _media_iframe_href ? _media_iframe_href : _media_href }}"
    class="ecl-gallery__item-link"
    {{ _use_arial }}
    data-ecl-gallery-item
    {% if _media_share_path is not empty %}
      data-ecl-gallery-item-share="{{ _media_share_path }}"
    {% endif %}
    {% if _media_iframe_href is not empty %}
      data-ecl-gallery-item-embed-src="{{ _media_iframe_href }}"
    {% endif %}
  >
  {% if _item is not empty %}
    <figure class="ecl-gallery__image-container">
      {% if _item.video is defined and _item.video is not empty %}
        {% include '@ecl/gallery/gallery-video.html.twig' %}
      {% else %}
        <img src="{{ _media_href }}" alt="{{ _image_alt }}" class="ecl-gallery__image" />
      {% endif %}
      {% if _has_icon %}
        {% include '@ecl/icon/icon.html.twig' with {
          icon: _item.icon|merge({
            size: "l",
          }),
          extra_classes: 'ecl-gallery__image-icon',
        } only %}
      {% endif %}
      <figcaption
        class="ecl-gallery__description"
        data-ecl-gallery-description
      >
        {{- _item.description -}}
        {% if _has_icon %}
          {%- include '@ecl/icon/icon.html.twig' with {
            icon: _item.icon|merge({
              size: "l",
            }),
            extra_classes: 'ecl-gallery__description-icon',
          } only %}
        {% endif %}
        {% if _item.meta is defined and _item.meta is not empty %}
        <span class="ecl-gallery__meta" data-ecl-gallery-meta>
          {{- _item.meta -}}
        </span>
        {% endif %}
      </figcaption>
    </figure>
  {% endif %}
  </a>
</li>

{% endspaceless %}
