{# Internal properties #}

{% set _cssClass = 'ecl-link-block' %}
{% set _extraAttributes = '' %}

{# Internal logic - Process properties #}

{% if extraClass is defined %}
  {% set _cssClass = _cssClass ~ ' ' ~ extraClass %}
{% endif %}

{% if extraAttributes is defined %}
  {% for attr in extraAttributes %}
    {% set _extraAttributes = _extraAttributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{% if wrapper is defined and wrapper == true %}

<div class="{{ _cssClass }}" {{ _extraAttributes }}>
  {% if title is defined %}
    <div class="ecl-link-block__title">{{ title }}</div>
  {% endif %}

  <ul class="ecl-link-block__list">
    {% for link in links %}
    <li class="ecl-link-block__item">
      <a class="ecl-link ecl-link--standalone ecl-link-block__link" href="{{ link.href }}">{{ link.label }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

{% else %}

<ul class="{{ _cssClass }} ecl-link-block__list" {{ _extraAttributes }}>
  {% for link in links %}
    <li class="ecl-link-block__item">
      <a class="ecl-link ecl-link--standalone ecl-link-block__link" href="{{ link.href }}">{{ link.label }}</a>
    </li>
  {% endfor %}
</ul>

{% endif %}
