{# Internal properties #}

{% set _cssClassMain = 'ecl-link-block' %}
{% set _cssClassLiks = 'ecl-link-block__links' %}
{% set _extraAttributes = '' %}
{% set _skipWrapper = '' %}

{# Internal logic - Process properties #}

{% if skipWrapper is defined %}
  {% set _skipWrapper = skipWrapper %}
{% endif %}

{% if extraClassMain is defined %}
  {% set _cssClassMain = _cssClassMain ~ ' ' ~ extraClassMain %}
{% endif %}

{% if extraClassLinks is defined %}
  {% set _cssClassLiks = _cssClassLiks ~ ' ' ~ extraClassLinks %}
{% endif %}

{% if extraAttributesLinks is defined %}
  {% for attr in extraAttributesLinks %}
    {% set extraAttributesLinks = extraAttributesLinks ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{% if _skipWrapper == true %}
  <ul
    class="{{ _cssClassMain }} {{ _cssClassLiks }}"
    {{ extraAttributesLinks }}
  >
    {% for link in links %}
      <li><a href="{{ link.target }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <div class="{{ _cssClassMain }}">
    {% if linkBlockTitle is defined %}
      <h3 class="ecl-link-block__title">{{ linkBlockTitle }}</h3>
    {% endif %}
      <ul
        class="{{ _cssClassLiks }}"
        {{ extraAttributesLinks }}
      >
        {% for link in links %}
          <li><a href="{{ link.target }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
  </div>
{% endif %}
