{#
  - title (string): the title of the navigation (default: 'Navigation')
  - variant (string): the variant. Can be 'default' or 'tabs' (default: 'default')
  - links (array): [
    - "href" (string): target of the link
    - "label" (string): label of the link
    - "is_active" (boolean): set active link
  ]
  - "extra_classes" (string): extra CSS classes to be added
  - "extra_attributes" (array): extra attributes classes (optional, format: [{ 'name': 'name_of_the_attribute', 'value': 'value_of_the_attribute'}])
#}

{# Internal properties #}

{% set _css_class = 'ecl-navigation-list-wrapper' %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if extra_classes is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print result #}

<nav class="{{ _css_class }}" {{ _extra_attributes }}>
  <h2 class="ecl-sr-only">{{ title|default('Navigation') }}</h2>
  <ul class="ecl-navigation-list ecl-navigation-list--{{ variant|default('default') }}">
    {% for link in links %}
      {% set _active_class = link.is_active is defined and link.is_active == true ? ' ecl-navigation-list__link--active' : '' %}
      <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link{{ _active_class }} ecl-link" href="{{ link.href }}">{{ link.label }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
