<!DOCTYPE html>
{% set bodyClass = '' %}
{% if _target.context is defined and _target.context.global is defined %}
  {% if _target.context.global.svg is defined %}
    {% set bodyClass = 'no-svg' %}
  {% endif %}
{% endif %}
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="{{ '/ec-preset-full/styles/europa.css' | path }}">
  </head>
  <body{% if _target.context and _target.context.global and _target.context.global.language %} class="language-{{ _target.context.global.language }}"{% endif %}>
    {{ yield }}
    <script src="{{ '/ec-preset-full/scripts/europa.js' | path }}"></script>
    {% if _target.context._demo and _target.context._demo.scripts %}
    <script type="text/javascript">{{ _target.context._demo.scripts | raw }}</script>
    {% endif %}
  </body>
</html>
