{#
  Parameters:
    - "link" (object) (default: {}): shape of @ecl/generic-component-link
    - "icon" (object) (default: {}): object of type ecl-icon
    - "icon_hover" (object) (default: {}): object of type ecl-icon
    - "variant" (string) (default: ''): correspond to the social network
    - "label" (string) (default: ''): used if "link" is not provided
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (string) (default: '')
        },
        ...
      ]
    - "system" (string) (default: "generic")
#}

{# Internal properties #}

{% set _link = link|default({}) %}
{% set _label = label|default('') %}
{% set _icon = icon|default({}) %}
{% set _icon_hover = icon_hover|default({}) %}
{% set _variant = variant|default('') %}
{% set _css_class = 'ecl-social-icon' %}
{% set _extra_attributes = '' %}
{% set _system = system|default('generic') %}

{# Internal logic - Process properties #}

{% if _variant is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ 'ecl-social-icon--' ~ _variant %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print the result #}

{% if _link is not empty %}

  <a href="{{ _link.href }}" class="ecl-link ecl-link--icon-before {{ _css_class }} {{ _link.extra_classes }}" {{ _link.extra_attributes }}>
    {# Default icon #}
    <span class="ecl-social-icon__icon ecl-social-icon__icon--default">
    {% include '@ecl/' ~ _system ~ '-style-icon' with _icon only %}
    </span>
    {# Hover icon #}
    <span class="ecl-social-icon__icon ecl-social-icon__icon--hover">
    {% include '@ecl/' ~ _system ~ '-style-icon' with _icon_hover only %}
    </span>

    <span class="ecl-social-icon__label">
    {{ _link.label }}
    </span>
  </a>

{% else %}

  <span class="{{ _css_class }}"{{ _extra_attributes|raw }}>
    {# Default icon #}
    <span class="ecl-social-icon__icon ecl-social-icon__icon--default">
    {% include '@ecl/' ~ _system ~ '-style-icon' with _icon only %}
    </span>
    {# Hover icon #}
    <span class="ecl-social-icon__icon ecl-social-icon__icon--hover">
    {% include '@ecl/' ~ _system ~ '-style-icon' with _icon_hover only %}
    </span>

    <span class="ecl-social-icon__label">
    {{ _label }}
    </span>
  </span>

{% endif %}
