{% spaceless %}

{#
  Parameters:
  - "not_compliant" (boolean)
  - "message" (string)
  - "component" (string)
  - "variant" (string)
  - "icon_path" (string)
  - "_compliance_inner_check_" (boolean)

  Blocks:
  - "complaints"
  - "compliant"
#}

{# Internal properties #}

{% set _success_message = '' %}
{% set _compliance_inner_check = _compliance_inner_check_|default(false) %}
{% set _identifier = component|default('') %}
{% set _icon_path = icon_path|default('') %}
{% if _icon_path is empty %}
  {% set _icon_path = icon_file_path|default('') %}
{% endif %}
{% if variant %}
  {% set _identifier = component ~ '--' ~ variant %}
{% endif %}
{% set _success_message = '[' ~ _identifier ~ '] - ecl compliant' %}
{% set _message = '[' ~ _identifier ~ '] - ' ~ message %}

{# Rendering #}

{% if _compliance_inner_check == false or _icon_path is empty %}
  <!-- ecl2-compliance: {{ _identifier }} -->
{% endif %}

{% if not_compliant %}
  {% block complaints %}
    {% if _icon_path is not empty and _compliance_inner_check %}
      <span class="ecl-u-type-color-red ecl-compliance-inner ecl-compliance-failure ecl-u-ma-2xs" title="{{ _message|raw }}">
      {% include '@ecl/icon/icon.html.twig' with {
          icon: { type: 'notifications', name: 'error', size: 'xs', path: _icon_path },
        } only %}
      </span>
    {% else %}
    <div
      class="ecl2-compliance ecl-u-border-width-1 ecl-u-border-color-red ecl-u-border-style-solid ecl-u-ma-xs ecl-u-pr-s ecl-u-bg-white"
    >
      <p class="ecl-u-type-color-grey ecl-u-ml-m ecl-u-type-xs">
        {{- _message|raw -}}
      </p>
    </div>
  {% endif %}
  {% endblock %}
{% else %}
  {% block compliant %}
    {% if _icon_path is not empty and _compliance_inner_check %}
      <span class="ecl-u-type-color-green ecl-compliance-inner ecl-compliance-success ecl-u-ma-2xs" title="{{ _success_message|raw }}">
      {% include '@ecl/icon/icon.html.twig' with {
          icon: { type: 'notifications', name: 'success', size: 'xs', path: _icon_path },
        } only %}
      </span>
    {% else %}
      <div
        class="ecl2-compliance ecl-u-border-width-1 ecl-u-border-color-green ecl-u-border-style-solid ecl-u-ma-xs ecl-u-pr-s ecl-u-bg-white"
      >
        <p class="ecl-u-type-color-grey ecl-u-ml-s ecl-u-type-xs">
          {{- _success_message|raw -}}
        </p>
      </div>
    {% endif %}
  {% endblock %}
{% endif %}

{% endspaceless %}
