{% apply spaceless %}

{#
  Parameters:
    - "icon_path" (string) (default: ''): URL to icons file
    - "language_selector" (associative array) (default: predefined structure): Language switcher settings. format:
        {
          "href": (string) (default: ''): URL for switcher
          "label": (string) (default: ''): Switcher language label, eg. 'English', 'Français', etc.
          "aria_label": (string) (default: ''): Switcher language aria label
          "code": (string) (default: ''): Switcher language code, eg. 'en', 'fr', etc.
          "eu_category": (string) (default: ''): Label for EU languages
          "non_eu_category": (string) (default: ''): Label for non-EU languages
          "overlay" (associative array) (default: predefined structure): Overlay language switcher settings. format:
            {
              "close": (associative array) (default: {}): Close button, following ECL Button structure
              "title": (string) (default: ''): Overlay title, eg. 'Select your language'.
              "items": (array) (default: []): (array) (default: []): format: [
                {
                  "lang" (string) (default: '') Item language code, eg. 'en', 'fr', etc.
                  "label" (string) (default: '') Item language label, eg. 'English', 'Français', etc.
                  "path" (string) (default: '') Item language URL eg. '/example#language_en'.
                  "active" (boolean) (default: false) define if item is the active language.
                },
              ],
              "non_eu_items": (array) (default: []): (array) (default: []): format: [
                {
                  "lang" (string) (default: '') Item language code, eg. 'en', 'fr', etc.
                  "label" (string) (default: '') Item language label, eg. 'English', 'Français', etc.
                  "path" (string) (default: '') Item language URL eg. '/example#language_en'.
                  "active" (boolean) (default: false) define if item is the active language.
                },
              ],
            },
        },
#}

{# Default variables #}

{% set _language_selector = language_selector|default({}) %}
{% set _icon_path = icon_path|default('') %}

{# Internal logic - Process properties #}

{% if _language_selector.overlay is defined and _language_selector.overlay is not empty %}
  {% set _has_overlay = true %}
{% endif %}

{# Print the result #}

<div class="ecl-site-header__language">
  <a
    class="ecl-button ecl-button--tertiary ecl-site-header__language-selector"
    href="{{ _language_selector.href }}"
    data-ecl-language-selector
    role="button"
    aria-label="{{ _language_selector.aria_label }}"
  {% if _has_overlay is defined %}
    aria-controls="language-list-overlay"
  {% endif %}
  >
    <span class="ecl-site-header__language-icon">
      {% include '@ecl/icon/icon.html.twig' with {
        icon: {
          path: _icon_path,
          name: 'global',
          size: 's'
        },
        as_image: true,
        extra_classes: 'ecl-site-header__icon',
        extra_accessibility: {
          title: _language_selector.label,
        },
      } only %}
    </span>
    {{- _language_selector.label -}}
  </a>

  {% if _has_overlay is defined %}
  <div class="ecl-site-header__language-container" id="language-list-overlay" hidden data-ecl-language-list-overlay aria-labelledby="ecl-site-header__language-title" role="dialog">
    {# language list header #}
    <div class="ecl-site-header__language-header">
      <div
        class="ecl-site-header__language-title"
        id="ecl-site-header__language-title"
      >
        {{- _language_selector.overlay.title -}}
      </div>
      {% if _language_selector.overlay.close is not empty %}
        {% include '@ecl/button/button.html.twig' with _language_selector.overlay.close|merge({
          variant: 'tertiary',
          extra_classes: 'ecl-site-header__language-close',
          extra_attributes: [{
            name: 'data-ecl-language-list-close',
          }],
        }) only %}
      {% endif %}
    </div>

    <div class="ecl-site-header__language-content">
      {# EU languages #}
      {% if _language_selector.overlay.items is not empty and _language_selector.overlay.items is iterable %}
      <div class="ecl-site-header__language-category" data-ecl-language-list-eu>
        {% if _language_selector.eu_category is not empty %}
        <div class="ecl-site-header__language-category-title">
          {{- _language_selector.eu_category -}}
        </div>
        {% endif %}
        <ul class="ecl-site-header__language-list">
          {% for _item in _language_selector.overlay.items %}
          <li class="ecl-site-header__language-item">
            {% set _link_label %}
              <span class="ecl-site-header__language-link-code">{{ _item.lang|default('') }}</span>
              <span class="ecl-site-header__language-link-label">{{ _item.label }}</span>
            {% endset %}
            {% set _link_classes = 'ecl-site-header__language-link' %}
            {% if _item.active %}
              {% set _link_classes = _link_classes ~ ' ecl-site-header__language-link--active' %}
            {% endif %}
            {% include '@ecl/link/link.html.twig' with {
              link: _item|merge({
                label: _link_label,
                type: 'standalone',
                no_visited: true
              }),
              extra_classes: _link_classes,
              extra_attributes: [
                { name: 'lang', value: _item.lang|default('')|e('html_attr') },
                { name: 'hreflang', value: _item.lang|default('')|e('html_attr') },
              ],
            } only %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {# non-EU languages #}
      {% if _language_selector.overlay.non_eu_items is not empty and _language_selector.overlay.non_eu_items is iterable %}
      <div class="ecl-site-header__language-category" data-ecl-language-list-non-eu>
        {% if _language_selector.non_eu_category is not empty %}
        <div class="ecl-site-header__language-category-title">
          {{- _language_selector.non_eu_category -}}
        </div>
        {% endif %}
        <ul class="ecl-site-header__language-list">
          {% for _item in _language_selector.overlay.non_eu_items %}
          <li class="ecl-site-header__language-item">
          {% set _link_label %}
            <span class="ecl-site-header__language-link-code">{{ _item.lang|default('') }}</span>
            <span class="ecl-site-header__language-link-label">{{ _item.label }}</span>
          {% endset %}
            {% set _link_classes = 'ecl-site-header__language-link' %}
            {% if _item.active %}
              {% set _link_classes = _link_classes ~ ' ecl-site-header__language-link--active' %}
            {% endif %}
            {% include '@ecl/link/link.html.twig' with {
              link: _item|merge({
                label: _link_label,
                type: 'standalone',
                no_visited: true
              }),
              extra_classes: _link_classes,
              extra_attributes: [
                { name: 'lang', value: _item.lang|default('') },
                { name: 'hreflang', value: _item.lang|default('') },
              ],
            } only %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>

{% endapply %}
