{% spaceless %}

{#
  Parameters:
    - "label" (string) (default: ''): visible on mobile
    - "icon_path" (string) (default: ''): path to icons svg
    - "items" (array) (default: []): [{
        "label" (string): label of the link
        "href" (string): target of the link
        "is_current" (boolean): does the menu contains the current page? (default: false)
        "children" (array) (default: []): [{
          "items" (array) (default: [{}]): [{
            - "label" (string): label of the link
            - "href" (string): target of the link
            - "is_current" (boolean): target of the link
          }]
        }]
    }]
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
      {
        "name" (string) (default: ''),
        "value" (optional) (string)
      ...
    ],
    - "_compliance_" (boolean) (default: false) Activates debug
    - "_compliance_inner_check_" (boolean) (default: false) Inline compliance report

#}

{# Internal properties #}

{% set _menu_label = label|default('') %}
{% set _links = items|default([]) %}
{% set _css_class = 'ecl-menu-legacy' %}
{% set _prefix_class = 'ecl-menu-legacy' %}
{% set _icon_path = icon_path|default('') %}
{% set _extra_attributes = [
  'data-ecl-auto-init="MenuLegacy"',
  'aria-expanded="false"',
  'data-ecl-menu-legacy']|join(' ')
%}
{% set _compliance = _compliance_|default(false) %}
{% set _compliance_inner_check = _compliance_inner_check_|default(false) %}
{% set _icon = {
  path: _icon_path,
  type: 'ui',
  name: 'corner-arrow',
  size: 'xs',
  transform: 'rotate-180',
  color: '',
  extra_classes: 'ecl-menu-legacy__link-icon'}|merge(icon|default({}))
%}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value|e ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}
<nav class="{{ _css_class }}" {{ _extra_attributes|raw }}>
  <div class="ecl-container">
    <button
      class="{{ _prefix_class }}__toggle ecl-button ecl-button--ghost"
      type="button"
      data-ecl-menu-legacy-hamburger-button
    >
      <div class="{{ _prefix_class }}__toggle-container">
        <div class="{{ _prefix_class }}__hamburger">
          <div class="{{ _prefix_class }}__hamburger--bar1"></div>
          <div class="{{ _prefix_class }}__hamburger--bar2"></div>
          <div class="{{ _prefix_class }}__hamburger--bar3"></div>
        </div>
        {{- _menu_label -}}
      </div>
    </button>
    <ul class="{{ _prefix_class }}__list" data-{{ _prefix_class }}-list>
      {%- block navigation -%}
    {% if _links is not empty %}
    {% for _link in _links %}
      {% set _link_class_name = _prefix_class ~ '__item' ~ (_link.is_active ? ' ' ~ _prefix_class ~ '__item--active' : '') ~ (_link.is_current ? ' ' ~ _prefix_class ~ '__item--current' : '') %}
      {% set _extra_classes = _prefix_class ~ '__link' ~ (_link.is_current ? ' ' ~ _prefix_class ~ '__link--current' : '') %}
      {% set _list_subelement_custom_class = _prefix_class ~ '__subitem' %}
      {% if _link.is_current is defined %}
        {% set _list_subelement_custom_class = _list_subelement_custom_class ~ ' ecl-menu-legacy__subitem--current' %}
      {% endif %}
      {% if _link.children is not defined or _link.children is empty %}
      <li class="{{ _link_class_name }}" data-{{ _prefix_class }}-item data-ecl-has-children="false">
        {%- include '@ecl-twig/ec-component-link/ecl-link.html.twig' with {
          link: {
            type: 'standalone',
            'label': _link.label,
            'path': _link.href
          },
          extra_classes: _extra_classes,
          extra_attributes: [{ name: 'data-' ~ _prefix_class ~ '-link' }],
          _compliance_: _compliance,
          _compliance_inner_check_: true,
          icon_path: _icon.path|default('')
        } only -%}
      {% else %}
      <li class="{{ _link_class_name }}" data-{{ _prefix_class }}-item data-ecl-has-children="true" >
        {%- include '@ecl-twig/ec-component-link/ecl-link.html.twig' with {
          link: {'type': 'standalone', 'label': _link.label, 'path': _link.href, 'icon_position': 'after'},
          icon: _icon,
          extra_classes: _extra_classes,
          extra_attributes: [{ name: 'data-' ~ _prefix_class ~ '-link' }],
           _compliance_: _compliance,
           _compliance_inner_check_: true
        } only -%}
        {#second level#}
        <div class="{{ _prefix_class }}__mega" data-{{ _prefix_class }}-mega>
        {% for _column in _link.children %}
        {#columns#}
          <div class="{{ _prefix_class }}__column">
          {% if _column.title is defined and _column.title is not empty %}
            <div class="{{ _prefix_class }}__separator">{{ _column.title }}</div>
          {% endif %}
            <ul class="{{ _prefix_class }}__sublist" data-{{ _prefix_class }}-sublist>
            {% for _child_link in _column.items %}
              {% set _extra_classes = _prefix_class ~ '__sublink' ~ (_child_link.is_current ? ' ' ~ _prefix_class ~ '__sublink--current' : '') %}
              <li class="{{ _list_subelement_custom_class }}" data-ecl-menu-legacy-subitem>
               {%- include '@ecl-twig/ec-component-link/ecl-link.html.twig' with {
                  link: {'type': 'standalone', 'label': _child_link.label, 'path': _child_link.href},
                  extra_classes: _extra_classes,
                  extra_attributes: [{ name: 'data-ecl-menu-legacy-sublink' }],
                   _compliance_: _compliance,
                   _compliance_inner_check_: true
                } only -%}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
      {% endif %}
      </li>
      {% endfor %}
    {% endif %}
    {% endblock %}
    </ul>
  </div>
</nav>

{# Validation #}

{% if _compliance %}
  {% include '@ecl-twig/ec-component-ecl-compliance/components/ecl-compliance-menu-legacy.html.twig' with {
    icon_path: _icon_path,
    items: _links,
    label: _menu_label,
    _compliance_inner_check_: _compliance_inner_check
  } only %}
{% endif %}
{% endspaceless %}
