{% spaceless %}
{#
  Parameters:
    - "title" (string) (default: '') Title of header
    - "description" (string) (default: '') Description of header
    - "meta" (string) (default: '') Meta of header
    - "composition" (string) (default: '') Room for the language switcher
    - "infos" (array) (default: []) Array of infos. format: [
        {
            "text" (string) Label of info
            "icon" (associative array) Predefined structure compatible with EC Icon
        },
        ...
        ],
    - "slogan" (string) (default: '') Slogan for the EU homepage variant
    - "variant" (string) (default: '') Name of the variant
    - "title_wrapper" (boolean) (default: false) For EU it needs to be set to TRUE
    - "background_image" (boolean) (default: false) With or without header background
    - "background_image_url (string) (default: '') Background image url
    - "breadcrumb" (associative array) (default: '') Predefined structure compatible with EC Breadcrumb
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (optional) (string)
        ...
      ],
    - "_compliance_" (boolean) (default: false) Activates debug
#}

{# variables #}
{% set _title = title|default('') %}
{% set _meta = meta|default('') %}
{% set _description = description|default('') %}
{% set _variant = variant|default('') %}
{% set _title_wrapper = title_wrapper|default(false) %}
{% set _background_image = background_image|default(false) %}
{% set _background_image_url = background_image_url|default('') %}
{% set _breadcrumb = breadcrumb|default({}) %}
{% set _slogan = slogan|default('') %}
{% set _compliance = _compliance_|default(false) %}

{% set _css_class = 'ecl-page-header' %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if _variant %}
  {% set _css_class = _css_class ~ ' ecl-page-header--' ~ _variant %}
{% endif %}

{% if _background_image %}
  {% set _css_class = _css_class ~ ' ecl-page-header--background-image ecl-page-header--image' %}
{% endif %}

{% if _background_image and _background_image_url is not empty %}
  {% set _extra_attributes = 'style="background-image: url(' ~ _background_image_url ~ ')"' %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value|e ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}
<div class="{{ _css_class }}"{{ _extra_attributes|raw }}>
  <div class="ecl-container">
  {% if _breadcrumb is not empty %}
    {% include '@ecl-twig/ec-component-breadcrumb/ecl-breadcrumb.html.twig' with _breadcrumb|merge({
      extra_classes: 'ecl-page-header__breadcrumb',
      _compliance_: _compliance,
      _compliance_inner_check_: true
    }) only %}
  {% endif %}
  {% if composition is defined and composition is not empty %}
    {{- composition|raw -}}
  {% endif %}
  {% if _meta is not empty %}
    <div class="ecl-page-header__meta-list">{{ _meta }}</div>
  {% endif %}
  {% if _title_wrapper %}
    <div class="ecl-page-header__title-wrapper">
  {% endif %}
      <h1 class="ecl-page-header__title">{{ _title }}</h1>
    {% if _slogan is not empty %}
      <p class="ecl-page-header__slogan">{{ _slogan|raw }}</p>
    {% endif %}
    {% if _description is not empty %}
      <p class="ecl-page-header__description">{{ _description|raw }}</p>
    {% endif %}
  {% if _title_wrapper %}
    </div>
  {% endif %}
    {% if infos is defined and infos is not empty and infos is iterable %}
      <ul class="ecl-page-header__info-list">
        {% for info in infos %}
        {% if info.text != '' %}
          <li class="ecl-page-header__info-item">
            {% include '@ecl-twig/ec-component-icon/ecl-icon.html.twig' with {
              icon: info.icon|merge({ size: 's' }),
              extra_classes: 'ecl-page-header__info-icon',
              _compliance_: _compliance,
              _compliance_inner_check_: true
            } only %}
            {{- info.text -}}
          </li>
        {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>

{# Validation #}

{% if _compliance %}
  {% include '@ecl-twig/ec-component-ecl-compliance/components/ecl-compliance-page-header.html.twig' with {
    title: _title,
    breadcrumb: _breadcrumb
  } only %}
{% endif %}

{% endspaceless %}
