{#
  Parameters:
    - "banner_type" (string or array) (default: ''): can be '','primary','image-shade', 'image', 'default' or array
    - "title" (string) (default: '')
    - "description" (string) (default: '')
    - "extra_classes" (string) (default: '')
    - "button_attributes" (array) (default: []): format [
        {
          "name" (string) (default: ''),
          "value" (string) (default: '')
        }
        ...
      ]
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (string) (default: '')
        },
        ...
      ]
#}

{# Internal properties #}
{% set _css_class = 'ecl-hero-banner' %}
{% set _title = title|default('') %}
{% set _description = description|default('') %}
{% set _banner_type = banner_type|default('default') %}
{% set _button_attributes='' %}
{% set _extra_attributes='' %}

{# Internal logic - Process properties #}
{% if _banner_type is not empty %}
  {% if _banner_type is iterable %}
    {% for _type in _banner_type %}
      {% set _css_class = _css_class ~ ' ' ~ 'ecl-hero-banner--' ~ _type %}
    {% endfor %}
  {% else %}
    {% set _css_class = _css_class ~ ' ' ~ 'ecl-hero-banner--' ~ _banner_type %}
  {% endif %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{% if button_attributes is defined and button_attributes is not empty and button_attributes is iterable %}
  {% for attr in button_attributes %}
    {% set _button_attributes = _button_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print the result #}
<section class="{{ _css_class }}"{{ _extra_attributes|raw }}>
  <div class="ecl-container ecl-hero-banner__container">
    <div class="ecl-hero-banner__content">
      <h1 class="ecl-hero-banner__title">{{ title }}</h1>
      <p class="ecl-hero-banner__description">{{ description }}</p>
      {% if _button_attributes is not empty %}<ecl-button{{ _button_attributes|raw }}></ecl-button>{% endif %}
    </div>
  </div>
</section>