{#
  - title: the title of the navigation (default: 'Navigation')
  - variant: the variant. Can be 'default' or 'tabs' (default: 'default')
  - links: array of links { to, title, isActive } (default: [])
#}
<nav class="ecl-navigation-wrapper">
  <h2 class="ecl-sr-only">{{ title|default('Navigation') }}</h2>
  <ul class="ecl-navigation ecl-navigation--{{ variant|default('default') }}">
    {% for link in links %}
      {% set activeClass = link.isActive is defined and link.isActive == true? ' ecl-navigation__item-link--active' : '' %}
      <li class="ecl-navigation__item">
        <a class="ecl-navigation__item-link{{ activeClass }} ecl-link" href="{{ link.to }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
