{#
  Parameters:
    - "id" (string): textarea id (optional, default: default-id)
    - "name" (string): textarea name (mandatory, default: default-name)
    - "rows" (int): number of rows (optional, default: 4)
    - "label" (string): label text (optional, default: '')
    - "is_disabled" (boolean): is disabled (optional, default: false)
    - "has_error" (boolean): has error (optional, default: false)
    - "extra_classes" (string): extra CSS classes (optional, default: '')
    - "extra_attributes" (string): extra attributes (optional, default: '')
#}

{% set id = id|default('default-id') %}
{% set name = name|default('default-name') %}
{% set rows = rows|default(4) %}
{% set label = label|default('') %}

{# Internal properties #}

{% set _css_class = 'ecl-textarea' %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if has_error is defined and has_error == true %}
  {% set _css_class = _css_class ~ ' ecl-textarea--has-error' %}
{% endif %}

{% if extra_classes is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if is_disabled is defined and is_disabled == true %}
  {% set _extra_attributes = _extra_attributes ~ ' disabled' %}
{% endif %}

{% if extra_attributes is defined %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~'"' %}
  {% endfor %}
{% endif %}

{# Print the result  #}

{% if label is defined and label != '' %}
<label for="{{ id }}" id="{{ id }}_label" aria-label="{{ id }}">{{ label }}</label>
{% endif %}
<textarea
  name="{{ name }}"
  id="{{ id }}"
  rows="{{ rows }}"
  class="{{ _css_class }}"
  role="textbox"
  aria-multiline="true"
  aria-labelledby="{{ id }}_label"
  {{ _extra_attributes }}
>
</textarea>
