<{{ element_l1 }} class="ecl-{{ element_l1 }}">
  <li class="ecl-li">Item 1</li>
  <li class="ecl-li">Item 2
    <{{ element_l2 }} class="ecl-{{ element_l2 }}">
      <li class="ecl-li">Sub Item 1</li>
      <li class="ecl-li">Sub Item 2</li>
      <li class="ecl-li">Sub Item 3</li>
    </{{ element_l2 }}>
  </li>
  <li class="ecl-li">Item 3</li>
</{{ element_l1 }}>
