{% spaceless %}
{#
  Parameters:
    - "title" (string) (default: '') Title of header
    - "description" (string) (default: '') Description of header
    - "thumbnail" (associative array) (default: {}) Thumbnail dipslayed alongside the description:
      {
        "alt" (string) Alternative text
        "src" (string) Image path
      }
    - "meta" (array) (default: []) Meta of header
    - "breadcrumb" (associative array) (default: '') Predefined structure compatible with EC Breadcrumb
    - "background_image_url (string) (default: '') Background image url
    - "overlay" (string) (default: '') Optional overlay on top of background image (can be 'light', 'dark'). Only used on EC
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (optional) (string)
        ...
      ],
#}

{# variables #}
{% set _title = title|default('') %}
{% set _meta = meta|default([]) %}
{% set _description = description|default('') %}
{% set _thumbnail = thumbnail|default({}) %}
{% set _breadcrumb = breadcrumb|default({}) %}
{% set _css_class = 'ecl-page-header-standardised' %}
{% set _background_image_url = background_image_url|default('') %}
{% set _overlay = overlay|default('') %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if _background_image_url and _background_image_url is not empty %}
  {% set _css_class = _css_class ~ ' ecl-page-header-standardised--image' %}

  {% if _overlay is not empty %}
    {% set _css_class = _css_class ~ ' ecl-page-header-standardised--overlay-' ~ _overlay %}
  {% endif %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

<div class="{{ _css_class }}" {{ _extra_attributes|raw }}>
{% if _background_image_url and _background_image_url is not empty %}
  {% set _image_attributes = 'style="background-image: url(' ~ _background_image_url ~ ')"' %}
  <div class="ecl-page-header-standardised__background" {{ _image_attributes|raw }} aria-hidden="true"></div>
{% endif %}

  <div class="ecl-container">
  {% if _breadcrumb is not empty %}
    {% include '@ecl/breadcrumb-standardised/breadcrumb-standardised.html.twig' with _breadcrumb|merge({
      extra_classes: 'ecl-page-header-standardised__breadcrumb',
    }) only %}
  {% endif %}

  {% if _meta is not empty %}
    <div class="ecl-page-header-standardised__meta">
      {% for _item in _meta %}
      <span class="ecl-page-header-standardised__meta-item">{{- _item -}}</span>
      {% endfor %}
    </div>
  {% endif %}

    <h1 class="ecl-page-header-standardised__title">{{ _title }}</h1>

  {% if _description is not empty %}
    <div class="ecl-page-header-standardised__description-container">
    {% if _thumbnail is not empty %}
      <img 
        class="ecl-page-header-standardised__description-thumbnail" 
        src={{ _thumbnail.src|default('') }} 
        alt={{ _thumbnail.alt|default('') }}
      />
    {% endif %}
      <p class="ecl-page-header-standardised__description">{{ _description }}</p>
    </div>
  {% endif %}
  </div>
</div>

{% endspaceless %}
