<footer class="footer {{modifier}}">

{% if custom %}

  <div class="footer__custom">
    <div class="ecl-container">
      <div class="ecl-row">
        
        <div class="{{elements.column}} ecl-col-md-4">
          <h4><a href="#">{{site_name}}</a></h4>
        </div>

        <div class="{{elements.column}} ecl-col-md-4">
          <p class="{{ elements.label }}">Follow us:</p>
          <ul class="{{ elements.menu }} ul-list-inline">
          {% for sn in ec_default_sn  %}
            <li class="{{ elements.menu_item }}">
              <a href="#" class="ecl-icon ecl-icon--{{sn}} footer__icon--social" target="_blank">{{ sn|capitalize }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>

        <div class="{{elements.column}} ecl-col-md-4">
          <ul class="{{ elements.menu }}">
          {% set labels = ["Contact", "Site map"] %}

          {% for label in labels  %}
            <li class="{{ elements.menu_item }}">
              <a href="#">{{ label }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>

      </div>
    </div>
  </div>
  
{% endif %}

  <div class="footer__top">
    <div class="ecl-container">
      <div class="ecl-row">

        <div class="{{elements.column}} ecl-col-md-4">
          <h4 class="{{ elements.title }}">{{ ec_name }}</h4>
          <ul class="{{ elements.menu }}">
          {% set labels = [ec_political_name, ec_info_name] %}

          {% for label in labels  %}
            <li class="{{ elements.menu_item }}">
              <a href="#">{{ label }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>

        <div class="{{elements.column}} ecl-col-md-4">
          <h4 class="{{ elements.title }}">{{ ec_footer_sn_title }} {{ ec_name }}</h4>
          <ul class="{{ elements.menu }} ul-list-inline">
          {% for sn in ec_default_sn  %}
            <li class="{{ elements.menu_item }}">
              <a href="#" class="ecl-icon ecl-icon--{{sn}} footer__icon--social" target="_blank">{{ sn|capitalize }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>

        <div class="{{ elements.column }} ecl-col-md-4">
          <h4 class="{{ elements.title }}">{{ eu_name }}</h4>
          <ul class="{{ elements.menu }}">
          {% set labels = ["EU institutions", eu_name] %}

          {% for label in labels  %}
            <li class="{{ elements.menu_item }}">
              <a href="#">{{ label }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="ecl-container">
      <div class="ecl-row">
        <div class="ecl-col-12">
          <ul class="{{ elements.menu }} ul-list-inline">
          {% set labels = [
            "About the Commission's new web presence",
            "Resources for partners",
            "Cookies",
            "Legal notice",
            "Contact",
            "Europa Analytics",
            ]
          %}

          {% for label in labels  %}
            <li class="{{ elements.menu_item }}">
              <a href="#">{{ label }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
