{#

Usage:

  - css_classes: (string)
    Possible set of classes in addition to `ecl-carousel` wrapper.

  - extra_attributes: (iterable)
    Conventional map of possible extra attributes for the wrapper.

  - heading_attributes: (iterable)
    Conventional map of possible extra attributes for the header.

  - heading_title: (string)
    Optional title of the heading. If skipped, heading will not be shown.

  - carousel_images (iterable)
    A list of images following the structure:

    {
      image: {
        src: 'http://lorempixel.com/600/1200/business/1/',
        alt: 'Iimage item alt text',
      },
      download: {
        target: '#',
        title: 'Download',
        label: 'Download',
      },
      share: {
        target: '#',
        title: 'Share',
        label: 'Share',
      },
      description: (string or block).
      copyright: '© Copyright 1',
    }

#}


{# Internal properties #}

{% set _css_classes = 'ecl-carousel' %}
{% set _extra_attributes = '' %}

{% set _dialog_attributes = [
  {
    name: 'aria-labelledby',
    value: value|default('ecl-carousel__heading'),
  },
  {
    name: 'id',
    value: value|default('ecl-carousel'),
  }
] %}
{% set _heading_attributes = [
  {
    name: 'id',
    value: value|default('ecl-carousel__heading'),
  },
  {
    name: 'class',
    value: value|default('ecl-headings ecl-headings--h3 ecl-sr-only'),
  }
] %}
{% set heading_title = variant|default('gallery') %}

{# Internal logic - Process properties #}

{% if css_classes is defined %}
  {% set _css_classes = _css_classes ~ ' ' ~ css_classes %}
{% endif %}

{% if extra_attributes is defined %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{% if heading_attributes is defined %}
  {% for heading_attr in heading_attributes %}
    {% set _heading_attributes = _heading_attributes ~ ' ' ~ heading_attr.name ~ '="' ~ heading_attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print result #}
<section class="{{ _css_classes }}" {{ _extra_attributes }}>
  {% if heading_title %}
  <h3 {{ _heading_attributes }} >{{ heading_title }}</h3>
  {% endif %}
  <div class="ecl-carousel__list-wrapper">
    <ul class="ecl-carousel__list ecl-list--unstyled">
      {% for carousel_image in carousel_images %}
      <li class="ecl-carousel__item">
        {% include '@ec-europa/ecl-images' with carousel_image.image %}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="ecl-carousel__live-region">
    {% for carousel_image in carousel_images %}
    <div class="ecl-carousel__image-information" data-image={{ loop.index0 }}>
      <div class="ecl-carousel__meta">
        <span class="ecl-carousel__meta-item ecl-carousel__meta-download">
          <a class="ecl-carousel__meta-link ecl-link ecl-link--inverted ecl-icon ecl-icon--download"
             href="{{ carousel_image.download.target }}"
             title="{{ carousel_image.download.title }}">
               {{ carousel_image.download.label }}
         </a>
        </span>
        <span class="ecl-carousel__meta-item ecl-carousel__meta-share">
          <a class="ecl-carousel__meta-link ecl-link ecl-link--inverted ecl-icon ecl-icon--share"
             href="{{ carousel_image.share.target }}"
             title="{{ carousel_image.share.title }}">
               {{ carousel_image.share.label }}
         </a>
        </span>
      </div>
      <div class="ecl-carousel__image-description">
        {% block description %}
          {{ carousel_image.description }}
        {% endblock %}
      </div>
      <div class="ecl-carousel__image-copyright">
        {{ carousel_image.copyright }}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
