{% import _self as list %}
{% spaceless %}

{#
  Parameters:
    - "items" (array) (default: []): format: [
        {
          "label" (string)
          "nested" (optional) (object of type Ordered List)
        },
        ...
      ]
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (optional) (string)
        ...
      ],
    - "_compliance_": (boolean) (default: false) Activates debug
#}

{# Define main macro #}
{% macro ordered_list(items, extra_classes, extra_attributes, _compliance_) %}{% spaceless %}
  {% import _self as list %}

  {# Internal properties #}
  {% set _items = items|default([]) %}
  {% set _css_class = 'ecl-ordered-list' %}
  {% set _extra_attributes = '' %}
  {% set _compliance = _compliance_|default(false) %}

  {# Internal logic - Process properties #}

  {% if extra_classes is defined and extra_classes is not empty %}
    {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
  {% endif %}

  {% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
    {% for attr in extra_attributes %}
      {% if attr.value is defined %}
        {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value|e ~ '"' %}
      {% else %}
        {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {# Print the result #}
  {% if _items is not empty %}
    <ol class="{{ _css_class }}" {{ _extra_attributes|raw }}>
      {% for _item in _items %}
        {% if _item is not empty %}
          <li class="ecl-ordered-list__item">
            {{- _item.label|raw -}}
            {% if _item.nested is not empty and _item.nested is iterable %}
              {{- list.ordered_list(_item.nested) -}}
            {% endif -%}
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  {% endif %}

{# Validation #}

{% if _compliance %}
  {% include '@ecl-twig/ec-component-ecl-compliance/components/ecl-compliance-ordered-list.html.twig' with {
    items: _items
  } only %}
{% endif %}

{% endspaceless %}{% endmacro %}

{# Render macro #}
{{ list.ordered_list(items, extra_classes, extra_attributes, _compliance_) }}

{% endspaceless %}
