{#
  Accepts:
    - "id" (string): textarea id (optional, default: default-id)
    - "name" (string): textarea name (mandatory, default: default-name)
    - "rows" (int): number of rows (optional, default: 4)
    - "label" (string): label text (optional, default: '')
    - "isDisabled" (boolean): is disabled (optional, default: false)
    - "hasError" (boolean): has error (optional, default: false)
    - "extraClass" (string): extra CSS classes (optional, default: '')
    - "extraAttributes" (string): extra attributes (optional, default: '')
#}

{% set id = id|default('default-id') %}
{% set name = name|default('default-name') %}
{% set rows = rows|default(4) %}
{% set label = label|default('') %}

{# Internal properties #}

{% set _cssClass = 'ecl-textarea' %}
{% set _extraAttributes = '' %}

{# Internal logic - Process properties #}

{% if hasError is defined and hasError == true %}
  {% set _cssClass = _cssClass ~ ' ecl-textarea--has-error' %}
{% endif %}

{% if extraClass is defined %}
  {% set _cssClass = _cssClass ~ ' ' ~ extraClass %}
{% endif %}

{% if isDisabled is defined and isDisabled == true %}
  {% set _extraAttributes = _extraAttributes ~ ' disabled' %}
{% endif %}

{% if extraAttributes is defined %}
  {% for attr in extraAttributes %}
    {% set _extraAttributes = _extraAttributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~'"' %}
  {% endfor %}
{% endif %}

{# Print the result  #}

{% if label is defined and label != '' %}
<label for="{{ id }}" id="{{ id }}_label" aria-label="{{ id }}">{{ label }}</label>
{% endif %}
<textarea
  name="{{ name }}"
  id="{{ id }}"
  rows="{{ rows }}"
  class="{{ _cssClass }}"
  role="textbox"
  aria-multiline="true"
  aria-labelledby="{{ id }}_label"
  {{ _extraAttributes }}
>
</textarea>
