{% apply spaceless %}

{#
  Parameters:
  - "variant" (string) (default: 'primary') Variant of banner
    (can be 'plain-background', 'text-block', 'text-highlight', 'image-overlay')
  - "size" (string) (default: 'm') Size of the banner (can be 's', 'm', 'l')
  - "title" (string) (default: '') Title of banner
  - "picture" (associative array) (default: {}): Image for the banner, following ECL Picture structure
  - "credit" (string) (default: '') Credit for the image
  - "description" (string) (default: '') Description of banner
  - "centered" (bool) (default: false) Define if banner should be centered
  - "full_width": (bool) (default: false) Full width banner (inside the grid)
  - "link" (associative array) (default: predefined structure) predefined structure for the Link component
  - "extra_classes" (optional) (string) (default: '')
  - "extra_attributes" (optional) (array) (default: [])
    - "name" (string) Attribute name, eg. 'data-test'
    - "value" (optional) (string) Attribute value, eg: 'data-test-1'
#}

{# Internal properties #}

{% set _css_class = 'ecl-banner' %}
{% set _extra_attributes = 'data-ecl-banner data-ecl-auto-init="Banner"' %}
{% set _picture = picture|default({}) %}
{% set _variant = variant|default('plain-background') %}
{% set _size = size|default('m') %}
{% set _centered = centered ?? false %}
{% set _full_width = full_width|default(false) %}
{% set _title = title|default('') %}
{% set _description = description|default('') %}
{% set _image = image|default('') %}
{% set _credit = credit|default('') %}
{% set _link = link|default({}) %}

{# Internal logic - Process properties #}

{% if _variant is not empty %}
  {% set _css_class = _css_class ~ ' ecl-banner--' ~ _variant %}
{% endif %}

{% if _size is not empty %}
  {% set _css_class = _css_class ~ ' ecl-banner--' ~ _size %}
{% endif %}

{% if _centered %}
  {% set _css_class = _css_class ~ ' ecl-banner--centered' %}
{% endif %}

{% if _full_width %}
  {% set _css_class = _css_class ~ ' ecl-banner--full-width' %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

<section class="{{ _css_class }}"{{ _extra_attributes|raw }}>
{% if _picture.img is not empty and _variant != 'plain-background'  %}
  <figure class="ecl-banner__picture-container">
    {% include '@ecl/picture/picture.html.twig' with {
      picture: _picture,
      extra_classes: 'ecl-banner__picture',
      extra_image_classes: 'ecl-banner__image',
      extra_attributes: [{ name: 'data-ecl-banner-image' }],
    } only %}
  {% if _credit is not empty and _variant != 'plain-background' %}
    <footer class="ecl-banner__credit"><small>{{ _credit }}</small></footer>
  {% endif %}
  </figure>
{% endif %}
  <div class="ecl-container">
    <div
      class="ecl-banner__container"
      data-ecl-banner-container
    >
    {% if _title is not empty or _description is not empty or _link is not empty %}
      <div class="ecl-banner__content">
        {% if _title is not empty %}
          <div class="ecl-banner__title">
            <span class="ecl-banner__title-text">{{ _title }}</span>
          </div>
        {% endif %}
        {% if _description is not empty %}
          <p class="ecl-banner__description">
            <span class="ecl-banner__description-text">{{ _description }}</span>
          </p>
        {% endif %}
        {% if _link is not empty %}
          {% set _link_extra_classes = 'ecl-banner__link-cta' %}
          {% if _link.extra_classes is defined and _link.extra_classes is not empty %}
            {% set _link_extra_classes = _link_extra_classes ~ ' ' ~ _link.extra_classes %}
          {% endif %}
          <div class="ecl-banner__cta">
          {% include '@ecl/link/link.html.twig' with _link|merge({
            link: _link.link|merge({
              type: 'cta',
            }),
            extra_classes: _link_extra_classes,
          }) only %}
          </div>
        {% endif %}
      </div>
    {% endif %}
    </div>
  </div>
</section>

{% endapply %}
