{#
  Common parameters:
    - "variant" (string): can be empty, 'date' or 'thumbnail' (default: empty)
    - "href" (string): target of the list item link (default: empty)
    - "title" (string): title of the list item (default: empty)
    - "primary_image" (object): primary image. Should follow ecl-image structure (default: empty)
    - "secondary_image" (object): secondary image. Should follow ecl-image structure (default: empty)
    - "screen_reader" (string): alternative text for screen readers (default: "List item")
    - "detail" (string): detail concerning the list item (default empty)
    - "metas" (array): array of meta item, as in 'ecl-meta' component (default empty)
    - "action" (string): extra actions related to this list item (default empty)
    - "extra_classes" (string): extra CSS classes to be added
    - "extra_attributes" (array): extra attributes classes (optional, format: [{ 'name': 'name_of_the_attribute', 'value': 'value_of_the_attribute'}])
  Blocks:
    - "meta_block": instead of providing metas as an array, you can also embed the template and fill the 'meta_block' block directly
    - "detail_block": instead of providing detail as a string, you can also embed the template and fill the 'detail_block' block directly
    - "action_block": instead of providing action as a string, you can also embed the template and fill the 'action_block' block directly

  Date parameters:
    - "date" (object): contains all parameters of ecl-date-block
#}

{# Internal properties #}

{% set _primary = primary_image|default('') %}
{% set _secondary = secondary_image|default('') %}
{% set _screen_reader = screen_reader|default('List item') %}
{% set _css_class = 'ecl-list-item' %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if date is defined and date is not empty %}
  {% set _primary = date %}
{% endif %}

{% if variant is defined and variant is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ 'ecl-list-item--' ~ variant %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print result #}

<li class="{{ _css_class }}" {{ _extra_attributes }}>
  <a href="{{ href }}" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">{{ _screen_reader }}</div>

    {% if _primary is not empty %}
    <div class="ecl-list-item__primary">
      {% if variant == 'date' %}
        {% include '@ec-europa/ecl-date-blocks' with _primary %}
      {% else %}
        {% include '@ec-europa/ecl-images' with _primary %}
      {% endif %}
    </div>
    {% endif %}

    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
        {% block meta_block %}
        {% include '@ec-europa/ecl-meta' with { metas: metas } %}
        {% endblock %}
      </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">{{ title }}</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
        {% block detail_block %}
          {{ detail }}
        {% endblock %}
      </p>

      <div class="ecl-list-item__action">
        {% block action_block %}
          {{ action }}
        {% endblock %}
      </div>
    </div>

    {% if _secondary is not empty %}
    <div class="ecl-list-item__secondary">
      {% include '@ec-europa/ecl-images' with _secondary %}
    </div>
    {% endif %}

  </a>
</li>
