<footer class="ecl-footer">
  {% if footer_menus is defined and footer_menus is iterable %}
  {% for footer_menu in footer_menus %}
  <div class="{{ footer_menu.wrapper_class }}">
    <div class="ecl-container">
      <div class="ecl-row">
        {% for menu in footer_menu.menus %}
        <div class="ecl-col-sm {{ (footer_menu.type != 'plain') ? 'ecl-footer__column' : '' }}">

          {# If there is any sort of title #}
          {% if menu.title.target is defined %}
          <h4 class="{{ menu.title.classes }}">
            <a href="{{ menu.title.target }}">{{ menu.title.value }}</a>
          </h4>
          {% elseif menu.title is defined %}
          <h4 class="{{ menu.title.classes }}">{{ menu.title.value }}</h4>
          {# Show a label if there is no title #}
          {% elseif menu.label is defined %}
          <p class="ecl-footer__label">{{ menu.label }}</p>
          {% endif %}

          {% if menu.items is defined and is not empty %}
          <ul class="{{ menu.classes }}">
            {% for menu_item in menu.items %}
            {% if menu_item.link.title_wrapper_class is defined %}
            <li class="{{ menu_item.classes }}">
              <a class="{{ menu_item.link.classes }}" href="{{ menu_item.link.target }}"><span class="{{menu_item.link.title_wrapper_class}}"></span>{{ menu_item.link.title }}</a>
            </li>
            {% else %}
            <li class="{{ menu_item.classes }}">
              <a class="{{ menu_item.link.classes }}" href="{{ menu_item.link.target }}">{{ menu_item.link.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</footer>
