<footer class="ecl-footer">
  {% if ecFooterMenus is defined and ecFooterMenus is iterable %}
  {% for FooterMenu in ecFooterMenus %}
  <div class="{{ FooterMenu.wrapperClass }}">
    <div class="ecl-container">
      <div class="ecl-row">
        {% for menu in FooterMenu.menus %}
        <div class="ecl-col-sm {{ (FooterMenu.type != 'plain') ? 'ecl-footer__column' : '' }}">

          {# If there is any sort of title #}
          {% if menu.title.target is defined %}
          <h4 class="{{ menu.title.classes }}">
            <a href="{{ menu.title.target }}">{{ menu.title.value }}</a>
          </h4>
          {% elseif menu.title is defined %}
          <h4 class="{{ menu.title.classes }}">{{ menu.title.value }}</h4>
          {# Show a label if there is no title #}
          {% elseif menu.label is defined %}
          <p class="ecl-footer__label">{{ menu.label }}</p>
          {% endif %}

          {% if menu.items is defined and is not empty %}
          <ul class="{{ menu.classes }}">
            {% for menuItem in menu.items %}
            {% if menuItem.link.titleWrapperClass is defined %}
            <li class="{{ menuItem.classes }}">
              <a class="{{ menuItem.link.classes }}" href="{{ menuItem.link.target }}"><span class="{{menuItem.link.titleWrapperClass}}"></span>{{ menuItem.link.title }}</a>
            </li>
            {% else %}
            <li class="{{ menuItem.classes }}">
              <a class="{{ menuItem.link.classes }}" href="{{ menuItem.link.target }}">{{ menuItem.link.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</footer>
