{% set type = type|default('button') %}
{% set modifier = modifier|default('default') %}

{# Internal properties #}

{% set _cssClass = 'ecl-button ecl-button--' ~ modifier %}
{% set _extraAttributes = '' %}

{# Internal logic - Process properties #}

{% if isBlock is defined and isBlock == true %}
  {% set _cssClass = _cssClass ~ ' ecl-button--block' %}
{% endif %}

{% if icon is defined %}
  {% set _cssClass = _cssClass ~ ' ecl-button--' ~ icon %}
{% endif %}

{% if extraClass is defined %}
  {% set _cssClass = _cssClass ~ ' ' ~ extraClass %}
{% endif %}

{% if extraAttributes is defined %}
  {% for attr in extraAttributes %}
    {% set _extraAttributes = _extraAttributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{% if type == 'link' %}
  <a
    href="{{ to|default('#') }}"
    class="{{ _cssClass }}"
    {{ _extraAttributes }}
  >
    {{- label -}}
  </a>
{% elseif type == 'input' %}
  <input
    type="button"
    class="{{ _cssClass }}"
    value="{{ label }}"
    {{ _extraAttributes }}
  />
{% else %}
  <button
    class="{{ _cssClass }}"
    {{ _extraAttributes }}
  >
    {{- label -}}
  </button>
{% endif %}
