{#
  Accepts:
    - "unavailable" (string): unavailable language
    - "theme" (string): empty or "primary"
    - "variant" (string): if "dropdown", the options will be displayed as a drpodown
    - "dropdown_label" (string): if a the component is a dropdown, this option will set the aria-label
    - "options" (array): array of objects
      - "href" (string)
      - "hreflang" (string)
      - "label" (string)
      - "lang" (string)
      - "is_selected" (boolean)
#}

{# Internal properties #}

{% set _css_class = 'ecl-lang-select-page' %}
{% set _extra_attributes = '' %}
{% set _unavailable = unavailable|default('English') %}
{% set _dropdown_label = dropdown_label|default('Choose your language') %}

{# Internal logic - Process properties #}

{% if theme is defined %}
  {% set _css_class = _css_class ~ ' ecl-lang-select-page--' ~ theme %}
{% endif %}

{% if extra_class is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_class %}
{% endif %}

{% if extra_attributes is defined %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

<section class="{{ _css_class }}" {{ _extra_attributes }}>
  <span class="ecl-icon ecl-icon--generic-lang ecl-lang-select-page__icon"></span>
  <span class="ecl-lang-select-page__unavailable">{{ _unavailable }}</span>
  {% if variant is defined and variant == 'dropdown' %}
  <select class="ecl-lang-select-page__dropdown" aria-label="{{ _dropdown_label }}">
    {% for opt in options %}
      <option class="ecl-lang-select-page__dropdown-option" value="{{ opt.lang }}" lang="{{ opt.lang }}"{{ opt.is_selected ? ' selected' : '' }}>{{ opt.label }}</option>
    {% endfor %}
  </select>
  {% else %}
  <ul class="ecl-lang-select-page__list">
  {% for opt in options %}
  <li class="ecl-lang-select-page__option{{ opt.is_selected ? ' ecl-lang-select-page__option--is-selected' : '' }}"><a href="{{ opt.href }}" hreflang="{{ opt.hreflang }}" lang="{{ opt.lang }}" rel="alternate" class="ecl-link ecl-lang-select-page__link">{{ opt.label }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
</section>
