{% spaceless %}

{#
  Parameters:
  - "sections" (array of objects) (default: [])
    - "section_id" (integer) (default: '') The id will be used to form the class name
    - "logo" (EU only)
      - "alt" (string) alt attribute for the logo link
      - "path" (string) logo link path
      - "language" (string) Language code
      - "src_mobile" (string) Path the mobile logo
      - "src_desktop" (string) Path to the desktop logo
    - "title" (optional) (string) OR (object with Link component in property)
    - "title_class_name" (optional) (string) (default: '')
    - "description" (optional) (string) (default: '')
    - "content_before" (optional) (string) (default: '')
    - "list_class_name" (optional) (string) (default: '')
    - "links" (optional) (array of objects) (default: []),
      - "link" (link object)
      - "content_before" (string) Optional text before the link
      - "content_after" (string) Optional text after the link
  - "extra_classes" (optional) (string) (default: '') Extra classes (space separated) for the icon
  - "extra_attributes" (optional) (array) (default: []) Extra attributes for icon
    - "name" (string) Attribute name, eg. 'data-test'
    - "value" (string) Attribute value, eg: 'data-test-1'
#}

{# Internal properties #}

{% import _self as footer %}

{% set _sections = sections|default([]) %}
{% set _css_class = 'ecl-footer-standardised' %}
{% set _extra_attributes = '' %}
{% set _internal_wrapper = false %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}
<footer class="{{ _css_class }}"{{ _extra_attributes }}>
  {# Main container #}
  <div class="ecl-container ecl-footer-standardised__container">
  {{ footer.footer_sections(_sections, 0) }}
  </div>
</footer>

{% macro footer_sections(sections, level) %}
  {% import _self as footer %}

  {% if level == 0 %}
    {% set section_class = "ecl-footer-standardised__row" %}
  {% elseif level == 1 %}
    {% set section_class = "ecl-footer-standardised__column" %}
  {% else %}
    {% set section_class = "ecl-footer-standardised__section" %}
  {% endif %}

  {% if sections is iterable %}
    {% for _section in sections %}
      <section class="{{ section_class }}">
      {{ footer.footer_sections(_section, level + 1) }}
      </section>
    {% endfor %}

  {% else %}

    {# logo (EU) #}
    {% if sections.logo is defined and sections.logo is not empty %}
      {% set _label %}
        <img
          alt="{{ sections.logo.alt }}"
          title="{{ sections.logo.title }}"
          class="ecl-footer-standardised__logo-image-mobile"
          src="{{ sections.logo.src_mobile }}"
        />
        <img
          alt="{{ sections.logo.alt }}"
          title="{{ sections.logo.title }}"
          class="ecl-footer-standardised__logo-image-desktop"
          src="{{ sections.logo.src_desktop }}"
        />
      {% endset %}
      {% include '@ecl/link/link.html.twig' with {
        link: {
          path: sections.logo.path,
          label: _label,
          type: 'standalone',
          aria_label: sections.logo.title
        },
        extra_classes: 'ecl-footer-standardised__logo-link'
      } only %}
    {% endif %}
    {# content before #}
    {% if sections.content_before is defined and sections.content_before is not empty %}
      <div class="ecl-footer-standardised__content">{{ sections.content_before|raw }}</div>
    {% endif %}
    {# title #}
    {% if sections.title is defined and sections.title is not empty %}
      {% set _title_class_name = 'ecl-footer-standardised__title' %}
      {% if sections.title_class_name is defined and sections.title_class_name is not empty %}
        {% set _title_class_name = _title_class_name ~ ' ' ~ sections.title_class_name %}
      {% endif %}
      {% if sections.title.link is defined and sections.title.link is not empty %}
        {% include '@ecl/link/link.html.twig' with sections|merge({
          link: sections.title.link|merge({ type: 'standalone'}),
          extra_classes: _title_class_name,
          icon: sections.title.icon|default({}),
        }) only %}
      {% else %}
        <div class="{{ _title_class_name }}">
          {{- sections.title -}}
        </div>
      {% endif %}
    {% endif %}
    {# description #}
    {% if sections.description is defined and sections.description is not empty %}
      <div class="ecl-footer-standardised__description">{{ sections.description|raw }}</div>
    {% endif %}
    {# list #}
    {% if sections.links is defined and sections.links is not empty and sections.links is iterable %}
      {% set _list_class_name = 'ecl-footer-standardised__list' %}
      {% if sections.list_class_name is defined and sections.list_class_name is not empty %}
        {% set _list_class_name = _list_class_name ~ ' ' ~ sections.list_class_name %}
      {% endif %}
      <ul class="{{ _list_class_name }}">
        {% for _item in sections.links %}
          <li class="ecl-footer-standardised__list-item">
            {{- _item.content_before -}}
            {% include '@ecl/link/link.html.twig' with _item|merge({
              link: _item.link|default({})|merge({ type: 'standalone' }),
              extra_classes: 'ecl-footer-standardised__link',
            }) only %}
            {{- _item.content_after -}}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  {% endif %}
{% endmacro %}

{% endspaceless %}
