<div class="context-nav">
  <span class="context-nav__label">{{ label }}</span>
  {% if items is defined and items is iterable %}
  <div class="context-nav__items">
    {% for item in items %}
    <span class="context-nav__item">
      <a href="{{ item.target }}">{{ item.title }}</a>
    </span>
    {% endfor %}
    {% endif %}
    {% if items_hidden is defined and items_hidden is iterable %}
    <div class="context-nav__expander">
      <span class="context-nav__more-button">
        {{ button_more }}
        <span class="icon icon--down ecl-u-color-primary"></span>
      </span>
      <div class="context-nav__hidden">
        {% for hidden_item in items_hidden %}
        <span class="context-nav__item">
          <a href="{{ hidden_item.target }}">{{ hidden_item.title }}</a>
        </span>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
