{% spaceless %}

{#
  Parameters:
    - "title" (string) (default: '')
    - "description" (string) (default: '')
    - "image" (associative array) (default: {}): format: {
      "alt": alternative text for the image
      "src": image url
    }
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (optional) (string)
        ...
      ],
#}

{# Internal properties #}

{% set _title = title|default('') %}
{% set _description = description|default('') %}
{% set _image = image|default({}) %}
{% set _css_class = 'ecl-display-list__item' %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

<div class="{{ _css_class }}"{{ _extra_attributes|raw }}>
  {% if _image is not empty and _image.src is defined and _image.src is not empty %}
    <img
      class="ecl-display-list__image"
      src="{{ _image.src }}"
      alt="{{ _image.alt }}"
    />
  {% endif %}
  <div class="ecl-display-list__detail">
  {% if _title is not empty %}
    <div class="ecl-display-list__title">{{ _title }}</div>
  {% endif %}
  {% if _description is not empty %}
    <div class="ecl-display-list__description">{{ _description }}</div>
  {% endif %}
  </div>
</div>

{% endspaceless %}
