<nav class="ecl-breadcrumb aria-label="breadcrumbs">
  <span class="ecl-sr-only">You are here:</span>
  <ol class="ecl-breadcrumb__segments-wrapper">
    {% for segment in segments %}
    <li class="ecl-breadcrumb__segment{{ loop.first ? " ecl-breadcrumb__segment--first" : "" }}{{ loop.last ? " ecl-breadcrumb__segment--last" : "" }}">
      <a href="{{ segment.target }}" class="ecl-breadcrumb__link{{ segment.isInternal ? " is-internal" : "" }}">
        <span class="ecl-breadcrumb__text">{{ segment.title }}</span>
      </a>
    </li>
    {% endfor %}
  </ol>
</nav>
