{% set _class = "" %}

{% if type is defined %}
  {% if type == "below" %}
    {% set _class = " ecl-logo--logotypebelow" %}
  {% elseif type == "right" %}
    {% set _class = " ecl-logo--logotype" %}
  {% endif %}
{% endif %}

{% if extra_class %}
  {% set _class = _class ~ " " ~ extra_class %}
{% endif %}

{% if to is defined %}
<a href="{{ to }}" class="ecl-logo{{ _class }}" title="{{ title }}">
  <span class="ecl-sr-only">{{ title }}</span>
</a>
{% else %}
<span class="ecl-logo{{ _class }}" role="img" aria-label="{{ title }}"></span>
{% endif %}
