{% apply spaceless %}

{#
  Parameters:
    - "autoinit" (boolean) (default: false)
    - "id" (string) (default: '')
    - "name" (string) (default: '')
    - "default_value" (default: '')
    - "required" (boolean) (default: false)
    - "required_text" (string) (default: '')
    - "helper_text" (string) (default: '')
    - "disabled" (boolean) (default: false)
    - "invalid" (boolean) (default: false)
    - "invalid_text" (string) (default: '')
    - "invalid_icon" (object of type "icon") (default: {})
    - "type" (string) (default: 'text')
    - "optional_text" (string) (default: '')
    - "icon_path" (string) (default: '')
    - "placeholder" (string) (default: 'DD-MM-YYYY')
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []) Extra attributes for the datepicker
      - "name" (string) Attribute name, eg. 'data-test'
      - "value" (optional) (string) Attribute value, eg: 'data-test-1'
#}

{# Internal properties #}

{% set _autoinit = autoinit|default(false) %}
{% set _css_class = 'ecl-datepicker' %}
{% set _default_value = default_value|default('') %}
{% set _input_class = 'ecl-datepicker__field ecl-text-input ecl-text-input--s' %}
{% set _id = id|default('') %}
{% set _name = name|default('') %}
{% set _type = type|default('text') %}
{% set _placeholder = placeholder|default('DD-MM-YYYY') %}
{% set _icon_path = icon_path|default('') %}
{% set _invalid = invalid|default(false) %}
{% set _disabled = disabled|default(false) %}
{% set _required = required|default(false) %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if _invalid %}
  {% set _css_class = _css_class ~ ' ecl-datepicker--invalid' %}
  {% set _label_class = _label_class ~ ' ecl-form-label--invalid' %}
  {% set _input_class = _input_class ~ ' ecl-text-input--invalid' %}
{% endif %}

{% if _disabled %}
  {% set _helper_class = _helper_class ~ ' ecl-help-block--disabled' %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

  <div class="{{ _css_class }}">
    <input
      autocomplete="off"
      data-ecl-datepicker-toggle
    {% if _autoinit %}
      data-ecl-auto-init="Datepicker"
    {% endif %}
    {% if _id is not empty %}
      id="{{ id }}"
    {% endif %}
    {% if _name is not empty %}
      name="{{ _name }}"
    {% endif %}
    {% if _type is not empty %}
      type={{ _type }}
    {% endif %}
      class="{{ _input_class }}"
    {% if _disabled %}
      disabled
    {% endif %}
    {% if _required %}
      required
    {% endif %}
    {% if _placeholder is not empty %}
      placeholder="{{ _placeholder }}"
    {% endif %}
    {% if _default_value is not empty %}
      value="{{ _default_value }}"
    {% endif %}
    {{ _extra_attributes|raw }}
    />
  {% if _icon_path is not empty %}
    {% include '@ecl/icon/icon.html.twig' with {
      icon: {
        name: 'calendar',
        size: 'xs',
        path: _icon_path,
      },
      extra_classes: 'ecl-datepicker__icon',
    } only %}
  {% endif %}
  </div>


{% endapply %}
