{#
  Parameters:
    - "id" (string) (default: 'ecl-radio-1')
    - "name" (string) (default: 'ecl-radio')
    - "desc" (string) (default: 'Description'): description for screen readers
    - "radios" (array): collection of ecl-forms-radios
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (string) (default: '')
        },
        ...
      ]
    - "system" (string) (default: "generic")
#}

{# Internal properties #}

{% set _id = id|default('ecl-radio-1') %}
{% set _name = name|default('ecl-radio') %}
{% set _desc = desc|default('Description') %}
{% set _radios = radios|default([]) %}
{% set _css_class = 'ecl-radio-group' %}
{% set _extra_attributes = '' %}
{% set _system = system|default('generic') %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value|e ~ '"' %}
  {% endfor %}
{% endif %}

{# Print the result #}

<div class="{{ _css_class }}" role="radiogroup" aria-labelledby="{{ _id }}_label" id="{{ _id }}"{{ _extra_attributes|raw }}>
  <p id="{{ _id }}_label" class="ecl-u-sr-only">{{ _desc }}</p>
  {% for _radio in _radios %}
    {% set _options = { 'name': _name }|merge(_radio) %}
    {% include '@ecl/' ~ _system ~ '-component-form-radio' with _options only %}
  {% endfor %}
</div>
