{#
  Accepts:
    - "id" (string): radio group ID (mandatory)
    - "name" (string): radio name (mandatory)
    - "value" (string): radio value (optional, default: '')
    - "label" (string): radio label (optional, default: '')
    - "checked" (boolean): is radio checked? (optional, default: false)
    - "is_disabled" (boolean): is disabled (optional, default: false)
    - "has_error" (boolean): has error (optional, default: false)
    - "extra_class" (string): extra CSS classes (optional, default: '')
#}

{% set id = id|default('default-id') %}
{% set name = name|default('default-name') %}
{% set checked = checked|default(false) %}

{# Internal properties #}

{% set _css_class = 'ecl-radio' %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if has_error is defined and has_error == true %}
  {% set _css_class = _css_class ~ ' ecl-radio--has-error' %}
{% endif %}

{% if is_disabled is defined and is_disabled == true %}
  {% set _css_class = _css_class ~ ' ecl-radio--is-disabled' %}
{% endif %}

{% if extra_classes is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~'"' %}
  {% endfor %}
{% endif %}

{# Print the result  #}

{% embed '@ec-europa/ecl-forms-labels' with { 'for': id, 'extra_classes': _css_class, 'extra_attributes': _extra_attributes, _id: id, _value: value, _name: name, _label: label, _checked: checked, _is_disabled: is_disabled } only %}
  {% block label %}{% spaceless %}
    <input class="ecl-radio__input ecl-sr-only" type="radio" id="{{ _id }}" value="{{ _value }}" name="{{ _name }}"{{ _checked ? ' checked' : '' }}{{ (_is_disabled is defined and _is_disabled == true) ? ' disabled' : '' }} />
    <span class="ecl-radio__label">{{ _label }}</span>
  {% endspaceless %}{% endblock %}
{% endembed %}
