{% set name = name|default('ecl-radio') %}

{% for option in options %}
  <div class="ecl-radio">
    <input class="ecl-radio--input" type="radio" id="{{ option.id }}" value="{{ option.value }}" name="{{ name }}"{{ option.checked ? ' checked' : '' }}>
    <label class="ecl-radio--label" for="{{ option.id }}">{{ option.label }}</label>
  </div>
{% endfor %}
