<table class="ecl-table-responsive">
  {% if caption %}
    <caption>{{ caption|escape }}</caption>
  {% endif %}
  {% set subth = false %}
  {% for header in headers %}
    {% if header.subcol|length > 0 %}
      {% set subth = true %}
    {% endif %}
  {% endfor %}
  <thead>
    <tr>
      {% for header in headers %}
        <th {% if subth == true %}
          {% if header.subcol|length %}colspan="{{ header.subcol|length }}" {% else %}rowspan="2" {% endif %}
        {% endif %}{% if header.col %}scope="col">Col {{ header.col }}{% else %}>{% endif %}</th>
      {% endfor %}
    </tr>
    {% if subth == true %}
      <tr>
        {% for header in headers %}
          {% for subcol in header.subcol %}
            <th scope="col">{% if subcol.col %}Sub Col {{ subcol.col }}{% endif %}</th>
          {% endfor %}
        {% endfor %}
      </tr>
    {% endif %}
  </thead>
  <tbody>
    {% for i in 1..number_sub_row %}
      <tr>
        {% for i in 1..number_sub_col %}
          <td>Cel {{ i }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
