{% spaceless %}

{#
  Parameters:
    - "icon_file_path" (string) (default: ''): URL to icons file
    - "logo" (associative array) (default: predefined structure): Logo image settings. format:
        {
          "title": (string) (default: ''): Logo title attribute.
          "alt": (string) (default: ''): Logo alt attribute.
          "href": (string) (default: ''): Logo URL.
          "src": (string) (default: ''): Logo image file path, eg. dist/images/logo--en.svg.
        },
    - "language_selector" (associative array) (default: predefined structure): Language switcher settings. format:
        {
          "href": (string) (default: ''): URL for switcher
          "name": (string) (default: ''): Switcher language label, eg. 'English', 'Français', etc.
          "code": (string) (default: ''): Switcher language code, eg. 'en', 'fr', etc.
          "overlay" (associative array) (default: predefined structure): Overlay language switcher settings. format:
            {
              "close_label": (string) (default: ''): Close button label eg. 'Close'.
              "title": (string) (default: ''): Overlay title, eg. 'Select your language'.
              "items": (array) (default: []): (array) (default: []): format: [
                {
                  "lang" (string) (default: '') Item language code, eg. 'en', 'fr', etc.
                  "label" (string) (default: '') Item language label, eg. 'English', 'Français', etc.
                  "path" (string) (default: '') Item language URL eg. '/example#language_en'.
                  "active" (boolean) (default: false) define if item is the active language.
                },
              ],
            },
        },
    - "search_form" (associative array) (default: predefined structure): EC Search Form component structure
    - "auto_init" (boolean) (default: true)
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (optional) (string)
        ...
      ],
    - "_compliance_" (boolean) (default: false) Activates debug
#}

{# Default variables #}

{% set _logo = logo|default({}) %}
{% set _language_selector = language_selector|default({}) %}
{% set _icon_file_path = icon_file_path|default('') %}
{% set _auto_init = auto_init|default(true) %}
{% set _compliance = _compliance_|default(false) %}

{% set _search_form = {
  text_input: {
    id: 'input-search',
    label: search_form.text_input.label|default('Search'),
    extra_classes: 'ecl-search-form__text-input'
  },
  button: {
    variant: 'search',
    icon: {
      type: 'general',
      name: 'search',
      path: _icon_file_path,
      size: 'fluid',
    },
    label: search_form.button.label|default('Search'),
    extra_classes: 'ecl-search-form__button'
  },
  extra_classes: 'ecl-site-header__search'
}
%}

{% set _css_class = 'ecl-site-header' %}

{% set _extra_attributes = [
  'data-ecl-site-header="true"',
  'data-ecl-auto-init="SiteHeader"']|join(' ')
%}

{# Merge options #}

{% if _compliance %}
  {% set _search_form = _search_form|merge({
    _compliance_: true,
    _compliance_inner_check_: true
  }) %}
{% endif %}

{% if logo is defined and logo is not empty %}
  {% set _logo = _logo|merge(logo) %}
{% endif %}

{% if language_selector is defined and language_selector is not empty %}
  {% set _language_selector = _language_selector|merge(language_selector) %}
{% endif %}

{% if search_form.text_input is defined and search_form.text_input is not empty %}
  {% set _search_form = _search_form|merge({ text_input: _search_form.text_input|merge(search_form.text_input) }) %}
{% endif %}

{% if search_form.button is defined and search_form.button is not empty %}
  {% set _search_form = _search_form|merge({ button: _search_form.button|merge(search_form.button) }) %}
{% endif %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value|e ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

<header class="{{ _css_class }}"{{ _extra_attributes|raw }}>
  <div class="ecl-site-header__container ecl-container">
    <div class="ecl-site-header__banner">
      <a
        class="ecl-link ecl-link--standalone"
        href="{{ _logo.href }}"
        aria-label="{{ _logo.title }}"
      >
        <img
          alt="{{ _logo.alt }}"
          title="{{ _logo.title }}"
          class="ecl-site-header__logo-image"
          src="{{ _logo.src }}"
        />
      </a>
    {% if _language_selector is not empty %}
      <div class="ecl-site-header__selector">
        <a
          class="ecl-link ecl-link--standalone ecl-site-header__selector-link"
          href="{{ _language_selector.href }}"
          data-ecl-language-selector="true"
        >
          {{- _language_selector.name -}}
          <span class="ecl-site-header__language-icon">
            {% include '@ecl-twig/ec-component-icon/ecl-icon.html.twig' with {
              icon: {
                path: _icon_file_path,
                type: 'general',
                name: 'language'
              },
              _compliance_: _compliance,
              _compliance_inner_check_: true
            } only %}
            <span class="ecl-site-header__language-code">{{ _language_selector.code }}</span>
          </span>
        </a>
        {% include '@ecl-twig/ec-component-language-list/ecl-language-list.html.twig' with {
          overlay: true,
          items: _language_selector.overlay.items,
          close_label: _language_selector.overlay.close_label,
          title: _language_selector.overlay.title,
          icon_path: _icon_file_path,
          eu_category: _language_selector.eu_category,
          non_eu_category: _language_selector.non_eu_category,
          non_eu_items: _language_selector.overlay.non_eu_items,
          extra_attributes: [
            { name: 'hidden' }
          ],
          _compliance_: _compliance,
          _compliance_inner_check_: true
        } %}
      </div>
    </div>
  {% endif %}
    {% include '@ecl-twig/ec-component-search-form/ecl-search-form.html.twig' with _search_form only %}
  </div>
</header>

{# Validation #}

{% if _compliance %}
  {% include '@ecl-twig/ec-component-ecl-compliance/components/ecl-compliance-site-header.html.twig' with {
    logo: _logo,
    language_selector: _language_selector,
    icon_file_path: _icon_file_path
  } only %}
{% endif %}
{% endspaceless %}
