{% spaceless %}

{#
  Parameters:
  - "id" (string) (default: '')
  - "disabled" (boolean) (default: false)
  - "invalid" (boolean) (default: false)
  - "invalid_icon_label" (string) (default: '')
  - "required" (boolean) (default: false)
  - "name" (string) (default: '')
  - "type" (string) (default: 'text')
  - "width" (string) (default: '')
  - "extra_group_classes" (optional) (string) (default: '') Extra classes (space separated) for the text-input group
  - "extra_classes" (optional) (string) (default: '') Extra classes (space separated) for the icon
  - "extra_attributes" (optional) (array) (default: []) Extra attributes for icon
    - "name" (string) Attribute name, eg. 'data-test'
    - "value" (optional) (string) Attribute value, eg: 'data-test-1'
  Blocks:
  - "helper_text"
  - "invalid_text"
  - "required_text"
  - "optional_text"
  - "label"
#}

{# Internal properties #}

{% set _compliance = _compliance_|default(false) %}
{% set _id = id|default('') %}
{% set _disabled = disabled|default(false) %}
{% set _invalid = invalid|default(false) %}
{% set _required = required|default(false) %}
{% set _required_text = required_text|default('') %}
{% set _optional_text = optional_text|default('') %}
{% set _invalid_icon_label = invalid_icon_label|default('') %}
{% set _name = name|default('') %}
{% set _type = type|default('text') %}
{% set _width = width|default('m') %}
{% set _helper_text = helper_text|default('') %}
{% set _invalid_text = invalid_text|default('') %}
{% set _label = label|default('') %}
{% set _label_class = 'ecl-form-label' %}
{% set _css_group_class = 'ecl-form-group' %}
{% set _css_class = ['ecl-text-input'] %}
{% if _invalid %}
  {% set _css_class = _css_class|merge(['ecl-text-input--invalid']) %}
{% endif %}
{% set _css_class = _css_class|merge(['ecl-text-input--' ~ _width]) %}
{% set _css_class = _css_class|join(' ') %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if extra_group_classes is defined and extra_group_classes is not empty %}
  {% set _css_group_class = _css_group_class ~ ' ' ~ extra_group_classes %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_label_classes is defined and extra_label_classes is not empty %}
  {% set _label_class = _label_class ~ ' ' ~ extra_label_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value|e ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

<div class="{{ _css_group_class }}">
  {% if _label is not empty %}
    <label
    {% if _id %}
      for="{{ _id }}"
    {% endif %}
      class="{{- _label_class -}}
      {{- _invalid ? ' ecl-form-label--invalid' -}}
      {{- _disabled ? ' ecl-form-label--disabled' -}}"
    >
      {%- block label _label -%}
      {%- if _required and _required_text is not empty -%}
        <span class="ecl-form-label__required">{{ _required_text }}</span>
      {%- elseif not _required and _optional_text is not empty -%}
        <span class="ecl-form-label__optional">{{ ' ' ~ _optional_text }}</span>
      {%- endif -%}
    </label>
  {% endif %}

  {% if _helper_text is not empty %}
    <div class="ecl-help-block{{ _disabled ? ' ecl-help-block--disabled' }}">
      {%- block helper_text _helper_text|raw -%}
    </div>
  {% endif %}

  {% if _invalid and _invalid_text is not empty %}
    <div class="ecl-feedback-message">
      {%- block invalid_text _invalid_text|raw -%}
    </div>
  {% endif %}

  <input
  {% if _id %}
    id="{{ _id }}"
  {% endif %}
    class="{{ _css_class }}"
  {% if _name is not empty %}
    name="{{ _name }}"
  {% endif %}
  {% if _type is not empty %}
    type="{{ _type }}"
  {% endif %}
  {% if _disabled %}
    disabled
  {% endif %}
  {% if _required %}
    required
  {% endif %}
    {{ _extra_attributes|raw }}
  />

</div>

{# Validation #}

{% if _compliance %}
  {% include '@ecl/@compliance/text-input.html.twig' with {
    id: _id,
    disabled: _disabled,
    invalid: _invalid,
    required: _required,
    required_text: _required_text,
    optional_text: _optional_text,
    name: _name,
    width: _width,
    helper_text: _helper_text,
    label: _label,
    invalid_text: _invalid_text,
    type: _type
  } only %}
{% endif %}

{% endspaceless %}
