{#
  Parameters:
    - "variant" (string) (default: ''): "", or "big"
    - "type" (string) (default: ''): "", "below", "right"
    - "title" (string) (default: 'European Commission')
    - "href" (string) (default: '')
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (string) (default: '')
        },
        ...
      ]
#}

{# Internal properties #}

{% set _css_class = 'ecl-logo' %}
{% set _extra_attributes = '' %}
{% set _type = type|default('') %}
{% set _title = title|default('European Commission') %}
{% set _href = href|default('') %}

{# Internal logic - Process properties #}

{% if variant is not empty %}
  {% set _css_class = _css_class ~ ' ecl-logo--' ~ variant %}
{% endif %}

{% if _type is not empty %}
  {% if _type == 'below' %}
    {% set _css_class = _css_class ~ ' ecl-logo--logotypebelow' %}
  {% elseif _type == 'right' %}
    {% set _css_class = _css_class ~ ' ecl-logo--logotype' %}
  {% endif %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
  {% endfor %}
{% endif %}

{# Print the result #}

{% if _href is not empty %}
  <a href="{{ _href }}" class="{{ _css_class }}" title="{{ _title }}"{{ _extra_attributes|raw }}><span class="ecl-u-sr-only">{{ _title }}</span></a>
{% else %}
  <span class="{{ _css_class }}" role="img" aria-label="{{ _title }}"{{ _extra_attributes|raw }}></span>
{% endif %}
