{% set _class = " ecl-logo--logotype" %}

{% if extra_class %}
  {% set _class = _class ~ " " ~ extra_class %}
{% endif %}

{% if to is defined %}
<a href="{{ to }}" class="ecl-logo{{ _class }}" title="{{ title }}">
  <span class="ecl-u-sr-only">{{ title }}</span>
</a>
{% else %}
<span class="ecl-logo{{ _class }}" role="img" aria-label="{{ title }}"></span>
{% endif %}
