{#
  Parameters:
    - "variant" (string, '' or 'extended') (default: '')
    - "image" (object): {
        "src" (string) (default: '')
        "alt" (string) (default: '')
      }
    - "metas" (array) (default: []): array of meta. Should follow structure of ecl-meta
    - "title" (string) (default: ''): title of the featured item
    - "link" (object): {
        "href" (string) (default: '')
        "label" (string) (default: '')
      }
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (string) (default: '')
        },
        ...
      ]
  Blocks:
    - "body" (default: lorem ipsum): content of the featured item
#}

{# Internal properties #}

{% set _variant = variant|default('') %}
{% set _image = { src: '', alt: '' }|merge(image|default({})) %}
{% set _title = title|default('') %}
{% set _link = { href: '', label: '' }|merge(link|default({})) %}
{% set _css_class = 'ecl-featured-item' %}
{% set _extra_attributes = '' %}
{% set _metas = metas|default([]) %}

{# Internal logic - Process properties #}

{% if _variant is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ ' ecl-featured-item--' ~ _variant %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value|e ~ '"' %}
  {% endfor %}
{% endif %}

{# Print the result #}

<div class="{{ _css_class }}"{{ _extra_attributes|raw }}>
  <div class="ecl-featured-item__image">
    <img src="{{ _image.src }}" alt="{{ _image.alt }}" class="ecl-image ecl-image--fluid" />
  </div>
  <div class="ecl-featured-item__body">
    {% include '@ecl/generic-component-meta' with {
      modifier: 'ecl-meta--header',
      metas: _metas,
    } %}
    {% include '@ecl/generic-component-link' with {
      'href': _link.href,
      'label': _title,
      'extra_classes': 'ecl-featured-item__title',
      'variant': 'standalone',
      }
    %}
    {% block body %}
      <p class="ecl-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et augue quis est dignissim lacinia. Curabitur interdum iaculis sagittis. Maecenas sodales elit est, et suscipit nisl vulputate eget. Mauris vel pulvinar odio. Sed diam turpis, cursus vel congue vel, lobortis a ipsum. Donec vel quam nec enim tristique efficitur at eget nisl.
      </p>
    {% endblock %}
    {% if _variant == 'extended' %}
    <a href="{{ _link.href }}" class="ecl-button ecl-button--call ecl-button--caret-right">{{ _link.label }}</a>
    {% endif %}
  </div>
</div>
