{#
  - variant: the variant. Can be '' or 'aligned' (default: '')
  - label: label of the field (default: '')
  - body: content of the field (default: '')
  }
#}

{% set variant = variant|default('') %}
{% set image = {
  src: image.src|default(''),
  alt: image.alt|default('')
} %}
{% set meta = {
  type: meta.type|default(''),
  date: meta.date|default('')
} %}
{% set title = title|default('') %}
{% set link = {
  href: link.href|default(''),
  label: link.label|default('')
} %}

{# Internal properties #}

{% set _cssClass = 'ecl-field' ~ (variant != '' ? ' ecl-field--' ~ variant: '') %}
{% set _extraAttributes = '' %}

{# Internal logic - Process properties #}

{% if extraClass is defined %}
  {% set _cssClass = _cssClass ~ ' ' ~ extraClass %}
{% endif %}

{% if extraAttributes is defined %}
  {% for attr in extraAttributes %}
    {% set _extraAttributes = _extraAttributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print result #}

{% if variant == 'aligned' %}

<div class="{{ _cssClass }}" {{ _extraAttributes }}>
  <div class="ecl-field__body">{{ body }}</div>
</div>

{% else %}

<div class="{{ _cssClass }}" {{ _extraAttributes }}>
  <div class="ecl-field__label">{{ label }}</div>
  <div class="ecl-field__body">{{ body }}</div>
</div>

{% endif %}
