{% apply spaceless %}
{#
  Parameters:
  - "type" (optional) (can be 'highlight'),
  - "title" (string) (default: ''),
  - "description" (string) (default: ''),
  - "link" (object) (default: {}): object of type Link
  - "media_container" (object) (default: {}): object of type Media container
  - "position" (object) (default: 'left'): Media position
  - "footer_description" (string) (default: ''): short description in the footer
  - "footer_link" (object) (default: {}): call to action link in the footer; type Link
  - "footer_picture" (object) (default: {}): picture in the footer; type Picture
  - "extra_classes" (string) (default: ''),
  - "extra_attributes" (array) (default: []): format: [
      {
        "name" (string) (default: ''),
        "value" (string) (default: '')
      },
      ...
    ]
#}

{# Internal properties #}

{% set _css_class = 'ecl-featured-item' %}
{% set _css_container_class = 'ecl-featured-item__container' %}
{% set _type = type|default('') %}
{% set _title = title|default(false) %}
{% set _description = description|default('') %}
{% set _link = link|default({}) %}
{% set _media_container = media_container|default({}) %}
{% set _position = position|default('left') %}
{% set _footer_description = footer_description|default('') %}
{% set _footer_link = footer_link|default({}) %}
{% set _footer_picture = footer_picture|default({}) %}
{% set _extra_attributes = '' %}

{# Set class for featured item different than default #}

{% if _type is not empty %}
  {% set _css_class = _css_class ~ ' ecl-featured-item--' ~ _type %}
{% endif %}

{# Internal logic - Process properties #}

{% if _position == 'right' %}
  {% set _css_container_class = _css_container_class ~ ' ecl-featured-item__container--right' %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

<article class="{{ _css_class }}"{{ _extra_attributes|raw }}>
  <div class="{{ _css_container_class }}">
  {% if _media_container is not empty %}
    <div class="ecl-featured-item__item">
    {% include '@ecl/media-container/media-container.html.twig' with _media_container|merge({
      extra_classes: 'ecl-featured-item__media_container',
    }) only %}
    </div>
  {% endif %}
    <div class="ecl-featured-item__item">
    {% if _title is not empty %}
      <div class="ecl-featured-item__title">
        <span class="ecl-featured-item__title-content">
          {{- _title -}}
        </span>
      </div>
    {% endif %}
    {% if _description is not empty %}
      <div class="ecl-featured-item__description">{{ _description }}</div>
    {% endif %}
    {% if _link is not empty %}
      {% include '@ecl/link/link.html.twig' with _link|merge({
        extra_classes: 'ecl-featured-item__link',
      }) only %}
    {% endif %}
    </div>
  </div>

  {% if _footer_description is not empty or _footer_link is not empty or _footer_picture is not empty %}
  <footer class="ecl-featured-item__footer">
    <div class="ecl-featured-item__footer-content">
      {% if _footer_description is not empty %}
        <div class="ecl-featured-item__footer-description">{{ _footer_description }}</div>
      {% endif %}
      {% if _footer_link is not empty %}
        {% include '@ecl/link/link.html.twig' with _footer_link|merge({
          link: _footer_link.link|merge({
            type: 'cta'
          }),
          extra_classes: 'ecl-featured-item__footer-link',
        }) only %}
      {% endif %}
    </div>

    {% if _footer_picture is not empty %}
      {% include '@ecl/picture/picture.html.twig' with {
        picture: _footer_picture,
        extra_classes: 'ecl-featured-item__footer-picture',
      } only %}
    {% endif %}
  </footer>
  {% endif %}
</article>
{% endapply %}
