{#
  Accepts:
    - "modifier" (string): could be "facet", "facet-close" or left empty (default: "")
    - "label" (string): label to print before the group of tags (default: "")
    - "tags" (array):
      - "label" (string): label to print before the current tag (default: "")
      - "value" (string): text to display (default: "")
      - "href" (string): if "modifier" is different from "facet" or "facet-close", then a link is printed (default: "")
    - "extra_classes" (string): extra CSS classes to be added
    - "extra_attributes" (array): extra attributes classes (optional, format: [{ 'name': 'name_of_the_attribute', 'value': 'value_of_the_attribute'}])
#}

{# Internal properties #}

{% set _modifier = modifier|default('') %}
{% set _label = label|default('') %}
{% set _tags = tags|default([]) %}
{% set _css_class = 'ecl-tag' %}
{% set _extra_attributes = '' %}

{% if _modifier is not empty %}
  {% set _css_class = _css_class ~ ' ecl-tag--' ~ _modifier %}
{% endif %}

{% if extra_classes is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

<div class="{{ _css_class }}"{{ _extra_attributes }}>
  {% if _label is not empty %}
    <span class="ecl-tag__label">{{ label }}</span>
  {% endif %}

  {% if _tags is not empty %}
    {% for _tag in _tags %}
      {% if _tag.label is defined and _tag.label is not empty %}
        <span class="ecl-tag__label">{{ _tag.label }}</span>
      {% endif %}

      {% if _modifier == 'facet' %}
        <span class="ecl-tag__item">{{ _tag.value }}</span>
      {% elseif _modifier == 'facet-close' %}
        {% include '@ec-europa/ecl-buttons' with {
          'label': _tag.value,
          'extra_classes': 'ecl-tag__item',
          'extra_attributes': [{ 'name': 'type', 'value': 'button'}]
        } %}
      {% else %}
        <a class="ecl-tag__item" href="{{ _tag.href }}">{{ _tag.value }}</a>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
